#top-bar {
	background: #505050;
	color: #fff;
	padding: 0px 0;
}

#top-bar h1, #top-bar a{color: #fff;}


.three {padding-left: 10px;}
.three,.three h3{
	background: #f8f8f8;
}

.three ul{padding-left:20px}

#footer-bottom {
	background: #fff;
	color: #000;
	padding: 17px 0 13px 0;
}

#footer-bottom a{color:#000}

