#top-bar {
	background: #505050;
	color: #fff;
	padding: 0px 0;
}

#top-bar h1, #top-bar a{color: #fff;}



#footer-bottom {
	background: #fff;
	color: #000;
	padding: 17px 0 13px 0;
}



#footer-bottom a{color:#000}

#categories li a {
	border:none;
	color:#000;}
.headline {
	color:#000;
	font-size: 20px;
	background-color: #fff;
	padding: 20px 0 10px;
	z-index: 5;
	position: relative;
	float: none;
	text-transform: uppercase;
	font-weight: 900;
	border-bottom: 1px solid #eee;
}