{template 'header', $template}
<link rel="stylesheet" type="text/css" href="{DT_SKIN}validator.css"/>


<div class="container box margin-top-15">
<div class="head"><div><strong>{$MENU[$menuid][name]}</strong><a name="guestbook"></a></div></div>
<div class="row">
	{if $_userid}
	<div class="six columns centered">
		<div class="tabs-container">
			<!-- Login -->
			<div class="tab-content" id="tab1" style="">

				<h3 class="headline">请填写联系方式</h3><span class="line" style="margin-bottom:20px;"></span><div class="clearfix"></div>

				<form method="post" class="login" id="appointment">

					<input type="hidden" name="post[invite_moduleid]" value="{$mid}">
					<input type="hidden" name="post[invite_title]" value="{$title}">
					<input type="hidden" name="post[invite_itemid]" value="{$itemid}">
					<input type="hidden" name="submit" value="1">
					<p class="form-row form-row-wide">
						<label for="sendmobile">手机号: </label>
						<input type="text" class="input-text" name="post[mobile]" id="sendmobile" datatype="m"
							   nullmsg="请输入手机号" sucmsg="<a id='sendbtn' href='javascript:;' onclick='sendCode();'>获取验证码</a>" errormsg="请输入正确的手机号！" value="">
					</p>

					<p class="form-row form-row-wide">
						<label for="mobilecode">验证码: </label>
						<input class="input-text" type="text" name="mobilecode" id="mobilecode" datatype="*" nullmsg="请输入验证码" sucmsg=" ">
					</p>

					<p class="form-row">
						<input type="submit" class="button" name="submit" value="提交预约">
					</p>
				</form>
			</div>

		</div>
	</div>
			{else}
			<div class="eight columns centered">
				<div style="line-height:280px">预约商家请先<a href="{$MODULE[2]['linkurl']}{$DT[file_register]}" target="_top">注册</a>成会员，已是会员请<a href="{$MODULE[2]['linkurl']}{$DT['file_login']}" target="_top">登陆</a>!</div>
			</div>
			{/if}



</div>
	</div>

{template 'footer', $template}
	<script src="{DT_SKIN}scripts/jquery-1.11.0.min.js"></script>
	<script src="{DT_SKIN}scripts/Validform_v5.3.2_min.js"></script>
	<script type="text/javascript">

		$(function(){
			//获取当前窗口索引
			$("#appointment").Validform({
				tiptype:4,
				ajaxPost:true,
				callback:function(data){
					if(data.status == 'y'){
						layer.alert('预约成功，商家稍后会跟您联系' , 6);
					}

				}
			});


		});

		//发送验证码
		function sendCode(){

			var btnText = $('#sendbtn').text();

			if(btnText == '获取验证码' || btnText=='重新发送'){

				var mobile = $("#sendmobile").val();
				$.get('{$MODULE[0][linkurl]}ajax.php?moduleid=2&action=member&job=sendcode&actsend={$actsend}&value='+mobile, function(response){
							if(response == 1){
								//$('#sendbtn').text('发送成功');

								var i = 90;
								var interval=window.setInterval(
										function(){
											if(i == 0) {
												$('#sendbtn').text('重新发送')
												clearInterval(interval);
											} else {
												$('#sendbtn').text('发送成功('+i+')');
												i--;
											}
										},
										1000);

							}else if(response == 2){
								$('#sendbtn').text('手机号码格式错误，请检查');
							}else if(response == 3){
								$('#sendbtn').text('手机号码已存在，请更换');
							}else if(response == 5){
								$('#sendbtn').text('短信发送过快，请稍后再试');
							}else if(response == 6){
								$('#sendbtn').text('尝试发送次数太多，请稍后再试');
							}else{
								$('#sendbtn').text('未知错误');
							}
						}
				);
			}



		}
	</script>