<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;charset={DT_CHARSET}"/>
<title>{if $seo_title}{$seo_title}{else}{if $head_title}{$head_title}{$DT[seo_delimiter]}{/if}{$COM[company]}{/if}</title>
{if $head_keywords}<meta name="keywords" content="{$head_keywords}"/>{/if}
{if $head_description}<meta name="description" content="{$head_description}"/>{/if}
    <link rel="shortcut icon" type="image/x-icon" href="{DT_STATIC}favicon.ico"/>
    <link rel="bookmark" type="image/x-icon" href="{DT_STATIC}favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="{DT_SKIN}bootstrap.css"/>
<link rel="stylesheet" type="text/css" href="{$MODULE[4][linkurl]}skin/common.css"/>
<link rel="stylesheet" type="text/css" href="{$HSPATH}style.css"/>
{if !DT_DEBUG}<script type="text/javascript">window.onerror= function(){return true;}</script>{/if}
<script type="text/javascript" src="{DT_PATH}lang/{DT_LANG}/lang.js"></script>
    <script type="text/javascript" src="{DT_STATIC}file/script/jquery.1.9.0.js"></script>
<script type="text/javascript">
var DTPath = '{DT_PATH}';
var SKPath = '{DT_SKIN}';
var CKPrex = '{$CFG[cookie_pre]}';
var DTTour = '{$MODULE[4][linkurl]}tour.php';
{if $itemid && $DT[anticopy]}
document.oncontextmenu=function(e){return false;};
document.onselectstart=function(e){return false;};
{/if}
{if !$domain && DT_DOMAIN}
document.domain = '{DT_DOMAIN}';
{/if}

$(function(){
    $('#free_order').click(function(){
        layer.msg('test');
    });
});
</script>

<script type="text/javascript" src="{DT_PATH}file/script/homepage.js"></script>
    <script type="text/javascript" src="{DT_SKIN}layer/layer.min.js"></script>
{if $css}<style type="text/css">{$css}</style>{/if}
<style type="text/css">#destoon_member a{color:#fff;}</style>
</head>
<body{if $bgcolor || $background} style="background:{if $bgcolor}{$bgcolor} {/if}{if $background}url('{$background}') no-repeat center 0{/if};"{/if}>


<div class="top_nav">
    <div class="head">
    <a href="{DT_PATH}" class="ai_title">{$DT['sitename']},让选择更多,让服务更全,让婚礼更美!</a>
    <div id="destoon_member" style="float:right;color:#fff;"></div>
    </div>
</div>

{if $bannert || $banner}
<div class="m">
    <div class="banner">
        {if $bannert == 2}
        <script type="text/javascript">
            var config = '5|0xFFFFFF|0x333333|80|0xFAFAFA|0x333333|0x000000';
            var files = "{$banner1}|{$banner2}{if $banner3}|{$banner3}{/if}{if $banner4}|{$banner4}{/if}{if $banner5}|{$banner5}{/if}";
            var links = '{$banner1_url}|{$banner2_url}{if $banner3_url}|{$banner3_url}{/if}{if $banner4_url}|{$banner4_url}{/if}{if $banner5_url}|{$banner5_url}{/if}';
            var texts = '';
            document.write('<embed src="{DT_PATH}file/flash/slide.swf" wmode="opaque" FlashVars="config='+config+'&bcastr_flie='+files+'&bcastr_link='+links+'&bcastr_title='+texts+'&menu="false" quality="high" width="{$bannerw}" height="{$bannerh}" type="application/x-shockwave-flash" extendspage="http://get.adobe.com/flashplayer/"></embed>');
        </script>
        {elseif $bannert == 1}
        <embed src="{$bannerf}" quality="high" loop="true" extendspage="http://get.adobe.com/flashplayer/" type="application/x-shockwave-flash" wmode="transparent" width="{$bannerw}" height="{$bannerh}"></embed>
        {elseif $banner}
        <img src="{$banner}" width="100%"/>
        {/if}
    </div>
</div>
{/if}

<div class="m box">
    <!--
    <div class="sig    <!--
    {if $COM[vip]}
    <div><strong>{$COM[year]}</strong><span title="指数满分为10">{$COM[vip]}</span></div>
    {else}
    <img src="{$MODULE[4][linkurl]}image/free_bg.gif" alt="普通会员"/>
    {/if}

</div>-->
<div class="head">
    <div class="logobox">

        <div class="logo"><a href="{$COM[linkurl]}"><img src="{$COM[thumb]}" alt="{$COM[company]}" onload="if(this.width>165)this.width=165;"/></a></div>

        </div>

    <div class="basic f_l">

            <div class="topname">
                <h1>{$COM[company]}</h1>
            </div>


<!--        <div class="clearfix">
            <div class="leftname">营业时间：<span>周一到周日上午8：30-下午18:00 </span></div>
        </div>-->

        <div class="clearfix">
            <div class="addTxt "><div class="f_l leftname">商家地址：<span>{$COM[address]}</span></div>
            </div>
        </div>
        <div class="clearfix">
            <p class="topphone f_l leftname">联系电话：<span>{if $domain}{$COM[telephone]}{else}{anti_spam($COM[telephone])}{/if}</span>
            </p>
        </div>

        <div class="clearfix">
            <p class="leftname">官方网站：{if $COM[homepage]}<a href="{$COM[homepage]}" target="_blank" rel="nofollow">{$COM[homepage]}</a><br/>{/if}
                <a href="{$COM[linkurl]}" target="_blank" rel="nofollow">{$COM[linkurl]}</a></p>
            </div>

        <div class="serol clearfix"><div class="f_l leftname">商铺流量：</div>
            {$COM[hits]}&nbsp;&nbsp;</b><i>位新人关注过</i>
        </div>

        <div class="clearfix sharebox">
            <div class="sharetxt f_l">请分享到：</div>
            <div class="f_l">
                <!-- Baidu Button BEGIN -->
                <div id="bdshare" class="bdshare_t bds_tools get-co des-bdshare">
                    <a class="bds_tsina"></a>
                    <a class="bds_qzone"></a>
                    <a class="bds_tqq"></a>
                    <a class="bds_renren"></a>
                    <a class="bds_bdhome"></a>
                    <span class="bds_more"></span>
                </div>
                <script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=2   502690" ></script>
                <script type="text/javascript" id="bdshell_js"></script>
                <script type="text/javascript">
                    document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000)
                </script>
                <!-- Baidu Button END -->
            </div>
        </div>
    </div>

    <div class="rankBox f_r">

        <div class="clearfix shopRank">
            <div class="f_l ranksctxt leftname">在线咨询：</div>
            <div class="rankscore f_l">{if $COM[username] && $DT[im_web]}{im_web($COM[username])}&nbsp;{/if}
                {if $COM[qq] && $DT[im_qq]}{im_qq($COM[qq])}&nbsp;{/if}
                {if $COM[ali] && $DT[im_ali]}{im_ali($COM[ali])}&nbsp;{/if}
                {if $COM[msn] && $DT[im_msn]}{im_msn($COM[msn])}&nbsp;{/if}
                {if $COM[skype] && $DT[im_skype]}{im_skype($COM[skype])}&nbsp;{/if}</div>
        </div>
        <div class="clearfix shopRank mt5">
            <div class="f_l ranksctxt leftname">在线状态：：</div>
            <div class="rankscore f_l">{if online($COM[userid])==1}<span class="f_red">当前在线</span>{else}<span class="f_gray">当前离线</span>{/if}</div>

        </div>
        <div class="yuyueyoulihybox">
            <div class="youlisanjiao"></div>
            <div class="youlibox" title="凡网上订购客户可享受价值3688大礼包！">
                凡网上订购客户可享受价值3688大礼包！                              </div>
        </div>
        <div class="btnBox clearfix">
            <input class="rankBtn mdialog" data-url="" id="free_order" type="button" value="立即免费预约">
        </div>
    </div>
</div>

</div>
<div class="m">
<div class="menu" id="menu"{if count($MENU)>8} style="height:80px;"{/if}>
	<ul>
	<li class="{if $file=='homepage'}menu_on{else}menu_li{/if}"><a href="{$COM[linkurl]}"><span>网站首页</span></a></li>
	{loop $MENU $k $v}
	<li class="{if $file==$menu_file[$k]}menu_on{else}menu_li{/if}"><a href="{$v[linkurl]}"><span>{$v[name]}</span></a></li>
	{/loop}
	</ul>
</div>
</div>

<div class="m">
<div class="pos" id="pos">
<span class="f_r">
<script type="text/javascript">show_date();</script>
</span>
<span id="position"></span>
</div>
</div>
<div class="m">
<table cellpadding="0" cellspacing="0" width="100%">
<tr>
{if $side_pos==0}
<td width="{$side_width}" valign="top" id="side">{template 'side', $template}</td>
<td width="10" id="split"></td>
{/if}
<td valign="top" id="main">