{template 'head'}
<link rel="stylesheet" type="text/css" href="{DT_SKIN}homepage2.css">

{if $file=='homepage'}
{if $bannert || $banner}
<div class="container margin-top-15">
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        {if $banner2}<li data-target="#carousel-example-generic" data-slide-to="1"></li>{/if}
        {if $banner3}<li data-target="#carousel-example-generic" data-slide-to="2"></li>{/if}
        {if $banner4}<li data-target="#carousel-example-generic" data-slide-to="3"></li>{/if}
        {if $banner5}<li data-target="#carousel-example-generic" data-slide-to="4"></li>{/if}
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active"><a href="{$banner1_url}"><img src="{$banner1}" /></a></div>
        {if $banner2}<div class="item"><a href="{$banner2_url}"><img src="{$banner2}" /></a></div>{/if}
        {if $banner3}<div class="item"><a href="{$banner3_url}"><img src="{$banner3}" /></a></div>{/if}
        {if $banner4}<div class="item"><a href="{$banner4_url}"><img src="{$banner4}" /></a></div>{/if}
        {if $banner5}<div class="item"><a href="{$banner5_url}"><img src="{$banner5}" /></a></div>{/if}
    </div>

</div>
    </div>
{/if}
{/if}

<div class="container box margin-top-15">
    <div class="row">
        <div class="col-md-3 text-center">
            <a href="{$COM[linkurl]}"><img src="{$COM[thumb]}" alt="{$COM[company]}" class="img-thumbnail" /></a></div>
        <div class="col-md-6">
            <h2>{$COM[company]}</h2>

            <dl class="dl-horizontal">
                <dt>商家地址:</dt>
                <dd><strong>{$COM[address]}</strong></dd>
                <dt>联系电话:</dt>
                <dd>{if $domain}{$COM[telephone]}{else}{anti_spam($COM[telephone])}{/if}</dd>
                <dt>商铺流量:</dt>
                <dd><b>{$COM[uv]}</b><em>位新人关注过</em></dd>
                <dt>官方网站:</dt>
                <dd>{if $COM[homepage]}<a href="{$COM[homepage]}" target="_blank" rel="nofollow">{$COM[homepage]}</a><br/>{/if}
                    <a href="{$COM[linkurl]}" target="_blank" rel="nofollow">{$COM[linkurl]}</a></dd>
                <dt>请分享到:</dt>
                <dd><div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a></div>
                    <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdPic":"","bdStyle":"0","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script></dd>
            </dl>

        </div>
        <div class="col-md-3">

            <dl class="dl-horizontal">
                <dt>在线咨询:</dt>
                <dd>{if $COM[username] && $DT[im_web]}{im_web($COM[username])}{/if}
                    {if $COM[qq] && $DT[im_qq]}{im_qq($COM[qq])}{/if}
                    {if $COM[ali] && $DT[im_ali]}{im_ali($COM[ali])}{/if}
                    {if $COM[msn] && $DT[im_msn]}{im_msn($COM[msn])}{/if}
                    {if $COM[skype] && $DT[im_skype]}{im_skype($COM[skype]){/if}</dd>
                <dt>在线状态:</dt>
                <dd>{if online($COM[userid])==1}<span class="danger">当前在线</span>{else}<span>当前离线</span>{/if}</dd>
            </dl>

            {if $announce}
            <div class="youlibox">{$announce}</div>
            {/if}
            <div>
                <input class="rankBtn mdialog" data-username="{$COM[username]}" data-moduleid="2" data-itemid="{$COM[userid]}" data-title="{$COM[company]}" type="button" value="立即免费预约">
            </div>
        </div>
    </div>
</div>

<div class="container margin-top-15">
    <div class="sixteen">

        <a href="{DT_PATH}index.php" class="menu-trigger"><i class="fa fa-bars"></i>商家导航</a>

        <nav id="navigation">
            <ul class="menu" id="responsive">


                <li class="{if $file=='homepage'}current{else}{/if}"><a href="{$COM[linkurl]}">商家首页</a></li>
                {loop $MENU $k $v}
                <li class="{if $file==$menu_file[$k]}current{else}{/if}"><a href="{$v[linkurl]}">{$v[name]}</a></li>
                {/loop}
            </ul>
        </nav>
    </div>
</div>