<div class="main_head"><div><span class="f_r"><a href="{userurl($username, 'file=sell', $domain)}">更多</a></span><strong>精品特价</strong></div></div>
<div class="main_body row">
	<!--{php $tags=tag("moduleid=5&condition=status>2 and username='$username'&pagesize=".$main_num[$HM]."&order=edittime desc&fields=itemid,title,linkurl,thumb,edittime,price,marketprice&template=null");}-->
	{loop $tags $i $t}

	<div class="col-md-4">
		<div class="item">
		<a href="{if $homeurl}{$t[linkurl]}{else}{userurl($username, 'file=sell&itemid='.$t['itemid'], $domain)}{/if}"><img src="{imgurl($t[thumb], 1)}" width="300" height="200" alt="{$t[alt]}"/></a>
		<div><a href="{if $homeurl}{$t[linkurl]}{else}{userurl($username, 'file=sell&itemid='.$t['itemid'], $domain)}{/if}" title="{$t[alt]}">{$t[title]}</a>
		<p>优惠价:<b>{$t[price]}</b> <del>门店价:{$t[marketprice]}</del></p>
		</div>
			</div>
	</div>

	{/loop}

</div>