{template 'header', $template}
<div class="container box margin-top-15">
{if $itemid}

<div class="head"><div><strong>精品特价</strong></div></div>
<div class="row">



	<h1 class="text-center">{$title}</h1>
	<p class="text-center">优惠价:<b class="text-warning">{$price}</b> <del>门店价:{$marketprice}</del>  此信息已被浏览{$hits}次<p>
	<div class="content" id="content">{$content}</div>


</div>
{else}
<div class="head">
	<div>
<span class="f_r f_n px12">
</span>
		<strong>{$MENU[$menuid][name]}</strong>
	</div>
</div>
<div class="row">

	{loop $lists $k $t}
	<div class="col-md-4">
		<div class="item">
			<a href="{if $homeurl}{$t[linkurl]}{else}{userurl($username, 'file=sell&itemid='.$t['itemid'], $domain)}{/if}"><img src="{imgurl($t[thumb], 1)}" width="300" height="200" alt="{$t[alt]}"/></a>
			<div><a href="{if $homeurl}{$t[linkurl]}{else}{userurl($username, 'file=sell&itemid='.$t['itemid'], $domain)}{/if}" title="{$t[alt]}">{$t[title]}</a>
				<p>优惠价:<b>{$t[price]}</b> <del>门店价:{$t[marketprice]}</del></p>
			</div>
		</div>
	</div>
	{/loop}

</div>

	<!-- Pagination -->
	<div class="pagination-container masonry">
		<nav class="pagination">
			{if $showpage && $pages}{$pages}{/if}
		</nav>
		<!-- <nav class="pagination">
                <ul>
                    <li><a href="shop-full-width.html#" class="current-page">1</a></li>
                    <li><a href="shop-full-width.html#">2</a></li>
                    <li><a href="shop-full-width.html#">3</a></li>
                </ul>
            </nav>

            <nav class="pagination-next-prev full-width">
                <ul>
                    <li><a href="shop-full-width.html#" class="prev"></a></li>
                    <li><a href="shop-full-width.html#" class="next"></a></li>
                </ul>
            </nav>-->
	</div>

<script type="text/javascript">
	try {Dd('type_{$typeid}').innerHTML = '<strong>'+Dd('name_{$typeid}').innerHTML+'</strong>';}catch (e){}
</script>
{/if}
</div>
{template 'footer', $template}