<div class="ai_footer">
    <p><a href="{DT_URL}about/about.html" title="菏泽结婚网" target="_blank">关于我们</a><a href="{DT_URL}spread" title="菏泽结婚网商务合作" target="_blank">商务合作</a><a href="{DT_URL}member/register.php" title="菏泽结婚网商家申请入驻" target="_blank">商家入驻</a><a href="{DT_URL}ad/" title="菏泽结婚网广告投放" target="_blank">广告服务</a><a href="{DT_URL}member/grade.php" title="菏泽结婚网会员升级" target="_blank">升级会员</a><a href="{DT_URL}about/shenming.html" title="菏泽结婚网免责" target="_blank">免责声明</a><a href="{DT_URL}sitemap/" title="菏泽结婚网站内地图" target="_blank">站内导航</a></p>
    <p>&copy; 2010-2013 {$DT['sitename']}</p>
    <dl>
        <dt>合作媒体</dt><dd><a href="{DT_PATH}company/list.php?catid=413" target="_blank" title="菏泽婚纱影楼,菏泽摄影工作室">菏泽婚纱摄影</a><a href="{DT_PATH}news" target="_blank" title="结婚倒计时攻略,结婚步骤,结婚流程,结婚风俗,结婚技巧等...">结婚攻略</a><a href="{DT_PATH}company/list.php?catid=417" target="_blank" title="菏泽结婚酒店汇总,婚宴喜宴酒店">菏泽婚宴酒店</a></dd>
    </dl>
</div>
<script type="text/javascript">
    document.write('<script type="text/javascript" src="{DT_PATH}api/task.js.php?{if $moduleid>1}moduleid={$moduleid}&{/if}refresh='+Math.random()+'.js"></sc'+'ript>');
</script>
<!--baitj-->
<div style="display:none"></div>
<!--end baitj-->
<script type="text/javascript">
    $(function(){$("img").lazyload();});$('#back2top').click(function() {
        $("html, body").animate({scrollTop:0}, 200);
    });
</script>


<script type="text/javascript">
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fa25641d310b3a42d3bbed29edd0ba173' type='text/javascript'%3E%3C/script%3E"));
</script>
