{if $_userid}

<li><a>{if $_truename}{$_truename}{else}{$_username}{/if}</a></li>
<li>|</li>
<li><a href="{$MODULE[2][linkurl]}">个人中心</a></li>
{if $is_company}
<li>|</li>
<li><a href="{$MODULE[2][linkurl]}">商务中心</a></li>
{/if}
<li>|</li>
<li><a href="{$MODULE[2][linkurl]}message.php">站内信{if $_message}(<span class="head_t" >{$_message}</span>){/if}</a></li>

{if $DT[im_web]} <li>|</li> <li><a href="{$MODULE[2][linkurl]}chat.php">新对话{if $_chat}(<span class="head_t">{$_chat}</span>){/if}</a></li>{/if}
<li>|</li>
<li><a href="{$MODULE[2][linkurl]}logout.php">退出</a></li>

{else}

    <li><a href="{$MODULE[2][linkurl]}{$DT[file_login]}">请登录</a></li>
    <li>|</li>
<li><a href="{$MODULE[2][linkurl]}{$DT[file_register]}">免费注册</a></li>
    <li>|</li>
    <li><a href="{$MODULE[2][linkurl]}send.php">忘记密码?</a></li>
{/if}
