{template 'header'}

<!-- Titlebar
================================================== -->
<section class="titlebar">
	<div class="container">
		<div class="sixteen columns">
			<h2>{$title}</h2>

			<nav id="breadcrumbs">
				<ul>
					<li><a href="{$MODULE[1][linkurl]}">首页</a></li>
					<li><a href="{DT_PATH}{$linkurl}">{$title}</a></li>
				</ul>
			</nav>
		</div>
	</div>
</section>

<div class="container">

	<!-- Sidebar
    ================================================== -->
	<div class="four columns">

		<!-- Categories -->
		<div class="widget margin-top-0">
			<h3 class="headline"></h3><div class="clearfix"></div>

			<ul id="categories">

				<!--{tag("table=webpage&condition=item=1&areaid=$cityid&order=listorder desc,itemid desc&template=list-webpage")}-->



			</ul>
			<div class="clearfix"></div>

		</div>




	</div>




	<!-- Products -->
	<div class="twelve columns products">


		<h1>{$title}</h1>
		<div class="content">{$content}</div>




	</div>

</div>

<div class="margin-top-50"></div>

{template 'footer'}