<ul class="pl-hlep">
<li><a target="_blank" href="{DT_PATH}news/list/34/" title="结婚吉日"><img src="{DT_PATH}skin/default/img/ai-martime.png" alt="选择结婚吉日" /></a><span><a target="_blank" href="{DT_PATH}news/list/34/" >选结婚吉日</a></span></li>
<li><a target="_blank" href="{DT_PATH}news/list/143/" title="结婚风俗习惯"><img src="{DT_PATH}skin/default/img/ai-csbz.jpg" alt="结婚习俗" /></a><span><a target="_blank" href="{DT_PATH}news/list/143/">结婚习俗</a></span></li>
<li><a target="_blank" href="{DT_PATH}news/1/show63.html" title="菏泽婚姻登记处"><img src="{DT_PATH}skin/default/img/ai-hydj.jpg" alt="菏泽婚姻登记处" /></a><span><a target="_blank" href="{DT_PATH}news/1/show63.html">婚姻登记处</a></span></li>
</ul>