<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset={DT_CHARSET}"/>
    <title>{if $seo_title}{$seo_title}{else}{if $head_title}{$head_title}{$DT[seo_delimiter]}{/if}{if $city_sitename}{$city_sitename}{else}{$DT[sitename]}{/if}{/if}</title>
    {if $head_keywords}
    <meta name="keywords" content="{$head_keywords}"/>
    {/if}
    {if $head_description}
    <meta name="description" content="{$head_description}"/>
    {/if}
    {if $head_mobile}
    <meta http-equiv="mobile-agent" content="format=xhtml; url={$head_mobile}">
    <meta http-equiv="mobile-agent" content="format=html5; url={$head_mobile}">
    {/if}
    <link rel="shortcut icon" type="image/x-icon" href="{DT_STATIC}favicon.ico"/>
    <link rel="bookmark" type="image/x-icon" href="{DT_STATIC}favicon.ico"/>
    {if $head_canonical}
    <link rel="canonical" href="{$head_canonical}"/>
    {/if}
    {if $EXT[archiver_enable]}
    <link rel="archives" title="{$DT[sitename]}" href="{$EXT[archiver_url]}"/>
    {/if}
    <link rel="stylesheet" type="text/css" href="{DT_SKIN}style.css"/>
    {if $moduleid>4}<link rel="stylesheet" type="text/css" href="{DT_SKIN}{$module}.css"/>{/if}
    {if $CSS}
    {loop $CSS $css}
    <link rel="stylesheet" type="text/css" href="{DT_SKIN}{$css}.css"/>
    {/loop}
    {/if}
    <!--[if lte IE 6]>
    <link rel="stylesheet" type="text/css" href="{DT_SKIN}ie6.css"/>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="{DT_SKIN}wed_main.css"/>

    {if !DT_DEBUG}<script type="text/javascript">window.onerror=function(){return true;}</script>{/if}
    <script type="text/javascript" src="{DT_STATIC}lang/{DT_LANG}/lang.js"></script>
    <script type="text/javascript" src="{DT_STATIC}file/script/config.js"></script>
    <script type="text/javascript" src="{DT_STATIC}file/script/jquery.1.9.0.js"></script>
    <script type="text/javascript" src="{DT_STATIC}file/script/common.js"></script>
    <script type="text/javascript" src="{DT_STATIC}file/script/page.js"></script>
    <script type="text/javascript" src="{DT_STATIC}file/script/page.js"></script>
    <script type="text/javascript" src="{DT_SKIN}layer/layer.min.js"></script>
    {if $lazy}<script type="text/javascript" src="{DT_STATIC}file/script/jquery.lazyload.js"></script>{/if}
    {if $JS}
    {loop $JS $js}
    <script type="text/javascript" src="{DT_STATIC}file/script/{$js}.js"></script>
    {/loop}
    {/if}
    {php $searchid = ($moduleid > 3 && $MODULE[$moduleid]['ismenu'] && !$MODULE[$moduleid]['islink']) ? $moduleid : 5;}
    <script type="text/javascript">
        {if $head_mobile && $EXT[wap_goto]}
            GoMobile('{$head_mobile}');
            {/if}
                var searchid = {$searchid};
                {if $itemid && $DT[anticopy]}
                    document.oncontextmenu=function(e){return false;};
                    document.onselectstart=function(e){return false;};
                    {/if}
    </script>
    <!--[以上为系统关键代码，除非您明确其含义，否则请勿修改或删除，否则会导致系统错误]-->
    <!--[模板中所有带id的元素，请勿修改或删除，否则会导致部分JS代码无法运行]-->
    <!--[以上类似的注释，在编译模板时，系统会自动移除，不会显示在实际的页面中]-->





</head>
<body>
<div class="top_nav wrap">
    <p class="ai_title">{$DT['sitename']},让选择更多,让服务更全,让婚礼更美!</p>
    <div id="destoon_member" style="float:right;padding-top:5px;"></div>
</div>
<div class="header">
    <div class="wrap head_height">
        <a href="{$MODULE[1][linkurl]}" class="logo"><img src="{if $MODULE[$moduleid][logo]}{DT_SKIN}image/logo_{$moduleid}.gif{elseif $DT[logo]}{$DT[logo]}{else}{DT_SKIN}image/logo.gif{/if}" alt="{$DT[sitename]}"/></a>

        {php $search_module = array(4=>'商家',5=>'优惠',12=>'作品');}
        {php $search_moduleid = $moduleid==1 ? 5 : $moduleid;}
        <form id="destoon_search" action="{DT_URL}{if $module=='destoon'}sell{else}{$module}{/if}/search.php" onsubmit="return Dsearch();">
            <input type="hidden" name="moduleid" value="{$search_moduleid}" id="destoon_moduleid"/>
            <div class="head_search" onmouseover="this.className='head_search_on';" onmouseout="this.className='head_search';">
                <div>
                    <input name="kw" id="destoon_kw" type="text" class="search_i" value="{if $kw}{$kw}{else}请输入关键词{/if}" onfocus="if(this.value=='请输入关键词') this.value='';" onkeyup="STip(this.value);" autocomplete="off" x-webkit-speech speech/><input type="text" id="destoon_select" class="search_m" value="{$search_module[$search_moduleid]}" readonly onfocus="this.blur();" onclick="$('#search_module').fadeIn('fast');"/><input type="submit" value=" " class="search_s"/>
                </div>
            </div>
            <div id="search_module" style="display:none;" onmouseout="Dh('search_module');" onmouseover="Ds('search_module');">
                {loop $search_module $k $t}
                <a href="javascript:void(0);" onclick="setModule('{$k}','{$t}')">{$t}</a>
                {/loop}
                </div>
        </form>
        <a href="{DT_PATH}company/list.php?catid=413" class="ico" title="菏泽婚纱摄影"><i class="ico1"></i>婚纱摄影</a>
        <a href="{DT_PATH}company/list.php?catid=417" class="ico" title="菏泽婚宴酒店"><i class="ico2"></i>婚宴酒店</a>
        <a href="{DT_PATH}company/list.php?catid=424" class="ico" title="菏泽婚纱礼服"><i class="ico3"></i>婚纱礼服</a>
        <a href="{DT_PATH}company/list.php?catid=425" class="ico" title="菏泽钻戒首饰"><i class="ico4"></i>钻戒首饰</a>
        <a href="{DT_PATH}company/list.php?catid=418" class="ico" title="菏泽婚庆服务"><i class="ico5"></i>婚庆服务</a>
    </div>
    <div class="wrap navbg">
        <a href="{DT_PATH}" title="菏泽婚嫁" target="_blank">首 页</a><a href="{DT_PATH}company/" title="菏泽婚庆企业">婚嫁服务</a><a href="{DT_PATH}sell/" title="商家优惠" target="_blank">精品折扣</a><a href="{DT_PATH}photo/" title="精选作品" target="_blank">精选作品</a>
    </div>
</div>