</div>

<!-- Footer Bottom / Start -->
<div id="footer-bottom">

    <!-- Container -->
    <div class="container">

        <div class="six columns">&nbsp;</div>
        <div class="eight columns">© Copyright 2015 by <a href="/">菏泽结婚网</a>. All Rights Reserved.</div>


    </div>
    <!-- Container / End -->

</div>
<!-- Footer Bottom / End -->
<!-- Java Script
================================================== -->
<script src="{DT_STATIC}/skin/dream/scripts/jquery-1.11.0.min.js"></script>
<script src="{DT_STATIC}/skin/dream/scripts/jquery-migrate-1.2.1.min.js"></script>
<script src="{DT_STATIC}/skin/dream/scripts/jquery.jpanelmenu.js"></script>
<script src="{DT_STATIC}/skin/dream/scripts/jquery.themepunch.plugins.min.js"></script>
<script src="{DT_STATIC}/skin/dream/scripts/jquery.themepunch.revolution.min.js"></script>
<script src="{DT_STATIC}/skin/dream/scripts/jquery.themepunch.showbizpro.min.js"></script>
<script src="{DT_STATIC}/skin/dream/scripts/jquery.magnific-popup.min.js"></script>
<script src="{DT_STATIC}/skin/dream/scripts/hoverIntent.js"></script>
<script src="{DT_STATIC}/skin/dream/scripts/superfish.js"></script>
<script src="{DT_STATIC}/skin/dream/scripts/jquery.pureparallax.js"></script>
<script src="{DT_STATIC}/skin/dream/scripts/jquery.pricefilter.js"></script>
<script src="{DT_STATIC}/skin/dream/scripts/jquery.selectric.min.js"></script>
<script src="{DT_STATIC}/skin/dream/scripts/jquery.royalslider.min.js"></script>
<script src="{DT_STATIC}/skin/dream/scripts/SelectBox.js"></script>
<script src="{DT_STATIC}/skin/dream/scripts/modernizr.custom.js"></script>
<script src="{DT_STATIC}/skin/dream/scripts/waypoints.min.js"></script>
<script src="{DT_STATIC}/skin/dream/scripts/jquery.flexslider-min.js"></script>
<script src="{DT_STATIC}/skin/dream/scripts/jquery.counterup.min.js"></script>
<script src="{DT_STATIC}/skin/dream/scripts/jquery.tooltips.min.js"></script>
<script src="{DT_STATIC}/skin/dream/scripts/jquery.isotope.min.js"></script>
<script src="{DT_STATIC}/skin/dream/scripts/puregrid.js"></script>
<script src="{DT_STATIC}/skin/dream/scripts/stacktable.js"></script>
<script src="{DT_STATIC}/skin/dream/scripts/custom.js"></script>

</div>


</body>
</html>