<div class="show_list">
<h3>定亲纳采是什么意思?</h3>
<p>古代定婚为六礼之一的纳采，俗称定亲，由媒人为男女两家通言，女家已许，男家才纳采(娶)女之礼。</p>
<p>定婚一般选择夏历三、六、九等吉日，双方家长要在选定的这一天分别设筵款待亲友，名为“定亲饭”。主食一般是面条，表示男女两家已经成为情深谊长的儿女亲家，所以又称为吃面。</p>
<p>定婚也称定盟，由男方携“四饰礼”（四样饰物）前往女家，女方接受礼品，并宴请男方来人。祁县等地，男女双方要互送“四色礼”。男方送给女方“定亲衣”、戒指、耳环、手镯等物，女方回送男方文房四宝、扇子、荷包、裤带一类。其中裤带尤不可少，隐喻“从今以后我把你拴住了”，或者“我将为你侍奉巾栉，脱衣解带”。</p>
</div>
<div class="show_list">
<h3>定亲的意义是什么?</h3>
<p>经过议婚阶段，男女两家对婚事都持肯定意见，便可正式定婚，即“许亲”“定亲”了。</p>
<p>北方的风俗叫串大门，就是在正式婚礼之前女方到男方家第一次正式拜访，一般是双方父母谈彩礼和陪嫁，以及房子啊，金银饰品啊，家电，车子这些问题，证明双方已经有约定，通常在正式结婚半年前吧。仪式就比结婚简单多了，通常双方的父母亲戚都到场， 摆几桌，吃个饭，我订婚婆婆给了个戒指，男朋友送了个戒指。然后是南方到女方家串大门，就是女方家主持宴席，会请女方的亲戚朋友同学等等，南方一般就父母和本人出席。</p>
</div>
<div class="show_list">
<h3>定亲给多少钱?</h3>
<p>近几年彩礼钱简直也跟着货物的价格上涨，简直是八门五花肉，比喻说：</p>
<p>万里挑一（11000元）、满有把握（15010元）、面面俱到（48000元）</p>
<p>以上数据只是作为参考，具体定亲送多少礼金，还是按照双方家庭状态以及地方婚俗习惯，千万不要认识不清的盲目追风。</p>
</div>
{loop $tags $i $t}
<div class="show_list">
<h3><a href="{$t[linkurl]}" target="_blank">{$t[title]}</a></h3>
<p>{$t[introduce]} <a href="{$t[linkurl]}" target="_blank" title='{$t[title]}'>【查看详细】</a></p>
</div>
{/loop}
{if $showpage && $pages}<div class="pages">{$pages}</div>{/if}