{template 'header'}

<div class="container">
	<div class="sixteen columns">
		<!-- Tabs Navigation -->
		{php $child = get_maincat(0, 4, 1);}
		{if $child}
		<ul class="tabs-nav">

			<li class="active"><a href="{$MOD[linkurl]}search.php">所有分类</a></li>

			{loop $child $i $c}
			<li><a href="{$MODULE[$mid][linkurl]}search.php?catid={$c[catid]}">{$c[catname]}</a></li>
			{/loop}
		</ul>
		{/if}

	</div>

</div>


<div class="margin-top-50"></div>
<!-- Content
================================================== -->

<!-- Container -->
<div class="container">


	<ul id="og-grid" class="og-grid">

		{php $_tags=tag("moduleid=$moduleid&condition=status=3 AND items>0&pagesize=40&template=null")}
		{loop $_tags $k $t}
		<!-- Project -->
		<li class="clothing others clickable">

			<a href="{userurl($t[username], 'file=photo&itemid='.$t['itemid'], $domain)}" class="grid-item-image">
				<div class="dynamic-portfolio-holder">
					<img src="{$t[thumb]}" alt="{$t[title]}"/>
					<div class="hover-cover"></div>
					<div class="hover-desc">
						<h5>{$t[title]}</h5>
					</div>
				</div>
			</a>
		</li>
		{/loop}


	</ul>

</div>
<!-- Container / End -->

<div class="margin-top-30"></div>


{template 'footer'}