{template 'header'}

<div class="container">
	<div class="sixteen columns">
		<!-- Tabs Navigation -->
		{php $child = get_maincat(0, $moduleid, 1);}
		{if $child}
		<ul class="tabs-nav">

			<li class="active"><a href="{$MOD[linkurl]}search.php?areaid={$areaid}">所有分类</a></li>

			{loop $child $i $c}
			<li><a href="{$MODULE[$mid][linkurl]}search.php?catid={$c[catid]}&areaid={$areaid}">{$c[catname]}</a></li>
			{/loop}
		</ul>
		{/if}

	</div>

</div>


<!-- Content
================================================== -->

<!-- Container -->
<div class="container">


	<ul id="og-grid" class="og-grid">

		{php $_tags=tag("moduleid=12&pagesize=40&template=null")}
		{loop $_tags $k $t}
		<!-- Project -->
		<li class="clothing others clickable">

			<a href="{$t[linkurl]}" class="grid-item-image">
				<div class="dynamic-portfolio-holder">
					<img src="{$t[thumb]}" alt="{$t[title]}"/>
					<div class="hover-cover"></div>
					<div class="hover-desc">
						<h5>{$t[title]}</h5>
					</div>
				</div>
			</a>

			<!--<div class="og-expander">
				<div class="flexslider gridslider">
					<ul class="slides">
						<li><img src="http://vasterad.com/themes/trizzy/images/portfolio/portfolio-01a.jpg" alt=""></li>
					</ul>
				</div>

				<span class="og-close"></span>
				<div class="og-details">
					<h3>Retro Shoes</h3>
					<p>Nullam mollis sed purus id placerat. Aliquam non sem dui. Aenean ac consequat sem. Duis in interdum massa. Etiam sodales, est non luctus mollis, nisl nisi aliquam.</p>
					<p>Donec sit amet luctus nulla. Etiam bibendum fringilla convallis. Integer porta mi lorem, ut malesuada lorem vehicula lorem dolor. Morbi vitae egestas dolor.</p>

					<!-- Share Buttons --
					<div class="share-buttons">
						<ul>
							<li><a href="portfolio-dynamic-grid.html#">Share</a></li>
							<li class="share-facebook"><a href="portfolio-dynamic-grid.html#">Facebook</a></li>
							<li class="share-twitter"><a href="portfolio-dynamic-grid.html#">Twitter</a></li>
							<li class="share-gplus"><a href="portfolio-dynamic-grid.html#">Google Plus</a></li>
							<li class="share-pinit"><a href="portfolio-dynamic-grid.html#">Pin It</a></li>
						</ul>
					</div>

				</div>
			</div>-->
		</li>
		{/loop}


	</ul>

</div>
<!-- Container / End -->

<div class="margin-top-30"></div>


{template 'footer'}