{template 'header'}


<div class="container">
	<div class="sixteen columns">
		<!-- Tabs Navigation -->
		{php $child = get_maincat(0, 4, 1);}
		{if $child}
		<ul class="tabs-nav">

			<li{if !$catid} class="active"{/if}><a href="{$MOD[linkurl]}search.php">所有分类</a></li>

			{loop $child $i $c}
			<li {if $catid==$c[catid]} class="active"{/if}><a href="{$MODULE[$mid][linkurl]}search.php?catid={$c[catid]}">{$c[catname]}</a></li>
			{/loop}
		</ul>
		{/if}

	</div>

</div>
<!-- Content
================================================== -->

<!-- Container -->
<div class="container">

	{if !$tags}
	<div class="notification error closeable">
		<p><span>没有查询到相关信息</span></p>
		<a class="close"></a>
	</div>
	<div class="clearfix"></div>
	<div class="margin-top-50"></div>
	{/if}

	<ul id="og-grid" class="og-grid">


		{loop $tags $k $t}
		<!-- Project -->
		<li class="clothing others clickable">

			<a href="{userurl($t[username], 'file=photo&itemid='.$t['itemid'], $domain)}" class="grid-item-image">
				<div class="dynamic-portfolio-holder">
					<img src="{$t[thumb]}" alt="{$t[title]}"/>
					<div class="hover-cover"></div>
					<div class="hover-desc">
						<h5>{$t[title]}</h5>
					</div>
				</div>
			</a>

			<div class="og-expander">
				<div class="flexslider gridslider">
					<ul class="slides">
						<li><img src="{$t[thumb]}" alt=""></li>
					</ul>
				</div>

				<span class="og-close"></span>
				<div class="og-details">
					<h3>{$t[title]}</h3>
					<p>{$t[introduce]}</p>


					<div class="share-buttons">
						<ul>
							<li><a href="{userurl($t[username], 'file=photo&itemid='.$t['itemid'], $domain)}">查看详情</a></li>

						</ul>
					</div>

				</div>
			</div>
		</li>
		{/loop}


	</ul>


	<!-- Pagination -->
	<div class="pagination-container masonry">

		<nav class="pagination">
			{if $showpage && $pages}{$pages}{/if}
		</nav>
		<!-- <nav class="pagination">
                <ul>
                    <li><a href="shop-full-width.html#" class="current-page">1</a></li>
                    <li><a href="shop-full-width.html#">2</a></li>
                    <li><a href="shop-full-width.html#">3</a></li>
                </ul>
            </nav>

            <nav class="pagination-next-prev full-width">
                <ul>
                    <li><a href="shop-full-width.html#" class="prev"></a></li>
                    <li><a href="shop-full-width.html#" class="next"></a></li>
                </ul>
            </nav>-->
	</div>

</div>
<!-- Container / End -->


{template 'footer'}