

<!-- Footer Bottom / Start -->
<div id="footer-bottom">

    <!-- Container -->
    <div class="container">

        <div class="eight columns">© Copyright 2014 by <a href="{$MODULE[1][linkurl]}">hezejiehun.com</a>. All Rights Reserved.</div>

        <div class="eight columns">
            <ul class="payment-icons"><li><a href="http://www.miitbeian.gov.cn/" target="_blank">鲁ICP备15009859号</a></li></ul>
        </div>

    </div>
    <!-- Container / End -->

</div>
<!-- Footer Bottom / End -->

<!-- Back To Top Button -->
<div id="backtotop"><a href="#"></a></div>

</div>

<!-- Java Script
================================================== -->
<script src="{DT_SKIN}scripts/jquery-1.11.0.min.js"></script>
<script src="{DT_SKIN}scripts/jquery-migrate-1.2.1.min.js"></script>
<script src="{DT_SKIN}scripts/jquery.jpanelmenu.js"></script>
<script src="{DT_SKIN}scripts/jquery.themepunch.plugins.min.js"></script>
<script src="{DT_SKIN}scripts/jquery.themepunch.revolution.min.js"></script>
<script src="{DT_SKIN}scripts/jquery.themepunch.showbizpro.min.js"></script>
<script src="{DT_SKIN}scripts/jquery.isotope.min.js"></script>
<!--<script src="{DT_SKIN}scripts/jquery.magnific-popup.min.js"></script>
<script src="{DT_SKIN}scripts/hoverIntent.js"></script>
<script src="{DT_SKIN}scripts/superfish.js"></script>
<script src="{DT_SKIN}scripts/jquery.pureparallax.js"></script>
<script src="{DT_SKIN}scripts/jquery.pricefilter.js"></script>
<script src="{DT_SKIN}scripts/jquery.selectric.min.js"></script>
<script src="{DT_SKIN}scripts/jquery.royalslider.min.js"></script>
<script src="{DT_SKIN}scripts/SelectBox.js"></script>
<script src="{DT_SKIN}scripts/modernizr.custom.js"></script>
<script src="{DT_SKIN}scripts/waypoints.min.js"></script>
<script src="{DT_SKIN}scripts/jquery.flexslider-min.js"></script>
<script src="{DT_SKIN}scripts/jquery.counterup.min.js"></script>
<script src="{DT_SKIN}scripts/jquery.tooltips.min.js"></script>
<script src="{DT_SKIN}scripts/puregrid.js"></script>-->
<script src="{DT_SKIN}scripts/stacktable.js"></script>
<script src="{DT_SKIN}layer/layer.min.js"></script>

<script src="{DT_SKIN}scripts/custom.js"></script>

</body>
</html>

