
<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">

    <meta http-equiv="Content-Type" content="text/html;charset={DT_CHARSET}"/>
    <title>{if $seo_title}{$seo_title}{else}{if $head_title}{$head_title}{$DT[seo_delimiter]}{/if}{if $city_sitename}{$city_sitename}{else}{$DT[sitename]}{/if}{/if}</title>
    {if $head_keywords}
    <meta name="keywords" content="{$head_keywords}"/>
    {/if}

    <link rel="shortcut icon" type="image/x-icon" href="{DT_STATIC}favicon.ico"/>
    <link rel="bookmark" type="image/x-icon" href="{DT_STATIC}favicon.ico"/>

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" type="text/css" href="{DT_SKIN}bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="{DT_SKIN}css/base.css"/>
    <link rel="stylesheet" type="text/css" href="{DT_SKIN}css/responsive.css"/>
    <link rel="stylesheet" type="text/css" href="{DT_SKIN}css/font-awesome.css"/>
    <link rel="stylesheet" href="{DT_SKIN}css/style.css">
    <link rel="stylesheet" href="{DT_SKIN}css/colors/red.css" id="colors">


    <!--[if lt IE 9]>
    <script src="{DT_SKIN}scripts/html5.js"></script>
    <![endif]-->

    <script type="text/javascript">
        var DTPath = '{DT_PATH}';
        var SKPath = '{DT_SKIN}';
        var CKPrex = '{$CFG[cookie_pre]}';
        var DTTour = '{$MODULE[4][linkurl]}tour.php';

        {if !$domain && DT_DOMAIN}
            document.domain = '{DT_DOMAIN}';
            {/if}
    </script>

    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?a25641d310b3a42d3bbed29edd0ba173";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>


</head>
<body class="boxed">
<div id="wrapper">

    <!-- Top Bar
================================================== -->
    <div id="top-bar" class="hidden-xs">
        <div class="container">

            <!-- Top Bar Menu -->
            <div class="ten columns">
                <ul class="top-bar-menu">
                    <li><a href="{$MODULE[1][linkurl]}">{$DT['sitename']}</a>,让选择更多,让服务更好,让婚礼更美!</li>
                </ul>

            </div>

            <!-- Member menu -->
            <div class="six columns">
                <ul class="member-menu">

                    {if !$is_home}
                    <li><a href="{$MODULE[1][linkurl]}">返回首页</a></li>
                    <li>|</li>
                    {/if}
                    {if $_userid}

                    <li><a>{if $_truename}{$_truename}{else}{$_username}{/if}</a></li>

                    {if $is_company}
                    <li>|</li>
                    <li><a href="{$MODULE[2][linkurl]}">商务中心</a></li>
                    <li>|</li>
                    <li><a href="{$MODULE[2][linkurl]}message.php">站内信{if $_message}(<span class="head_t" >{$_message}</span>){/if}</a></li>

                    {if $DT[im_web]} <li>|</li> <li><a href="{$MODULE[2][linkurl]}chat.php">新对话{if $_chat}(<span class="head_t">{$_chat}</span>){/if}</a></li>{/if}
                    {else}
                    <li>|</li>
                    <li><a href="{userurl($_username, '', $domain)}">个人中心</a></li>
                    <li>|</li>
                    <li><a href="javascript:;" onclick="window.open ('{$MODULE[2][linkurl]}message.php?user_frame=true', 'newwindow', 'height=500, width=800, top=0, left=0, toolbar=no, menubar=no, scrollbars=no, resizable=no,location=n o, status=no');">站内信{if $_message}(<span class="head_t" >{$_message}</span>){/if}</a></li>

                    {if $DT[im_web]} <li>|</li> <li><a href="javascript:;" onclick="window.open ('{$MODULE[2][linkurl]}chat.php?user_frame=true', 'newwindow', 'height=600, width=800, top=0, left=0, toolbar=no, menubar=no, scrollbars=no, resizable=no,location=n o, status=no');">新对话{if $_chat}(<span class="head_t">{$_chat}</span>){/if}</a></li>{/if}
                    {/if}

                    <li>|</li>
                    <li><a href="{$MODULE[2][linkurl]}logout.php">退出</a></li>

                    {else}

                    <li><a href="{$MODULE[2][linkurl]}{$DT[file_login]}">请登录</a></li>
                    <li>|</li>
                    <li><a href="{$MODULE[2][linkurl]}{$DT[file_register]}">新人注册</a></li>
                    <li>|</li>
                    <li><a href="{$MODULE[2][linkurl]}send.php">忘记密码?</a></li>
                    {/if}

                </ul>
            </div>

        </div>
    </div>

    <div class="visible-xs-block margin-top-50"></div>
    <div id="top-bar-xs">
        <div class="container visible-xs-block" >

            <!-- Logo -->
            <div class="">
                <div id="logo">
                    {if !$DT_REF || strpos($DT_REF,'dt.php')}
                    <h1><a href="{$MODULE[1][linkurl]}"><img src="{DT_SKIN}images/site-logo-xs.png" alt="菏泽结婚网" class="logo-xs" /></a></h1>
                    {else}
                    <h1 class="logo-return"><a href="javascript:history.back();"><i class="fa fa-chevron-left"></i>返回</a></h1>
                    {/if}
                </div>
            </div>

            <!-- Member menu -->
            <div class="pull-right">
                <ul class="member-menu">
                    <li><a href="{DT_PATH}index.php"><i class="fa fa-home"></i></a></li>
                    <li>|</li>
                    <li><a href="{if $_userid}{userurl($_username, '', $domain)}{else}{$MODULE[2][linkurl]}{$DT[file_login]}{/if}"><i class="fa fa-user"></i></a></li>
                    <li>|</li>
                    <li><i class="fa fa-search" id="top-search"></i></li>
                    <li>|</li>
                    <li><i class="fa fa-bars menu-trigger"></i></li>
                </ul>
            </div>

        </div>
    </div>

    <div class="container hide" id="top-search-content">

            <!-- Search -->
            <form action="{$MODULE[$searchid][linkurl]}/search.php" method="get">
                <nav class="top-search">

                    <button><i class="fa fa-search"></i></button>
                    {php $search_module = array(4=>'商家',5=>'优惠',12=>'作品');}
                    {php $search_moduleid = $moduleid==1 ? 5 : $moduleid;}
                    <!-- Ordering -->
                    <select name="moduleid">
                        {loop $search_module $k $t}
                        <option value="{$k}">{$t}</option>
                        {/loop}
                    </select>
                    <input class="search-field" name="kw" type="text" placeholder="Search" value=""/>


                </nav>

            </form>

    </div>

    <div class="clearfix"></div>




