{template 'header'}
<link rel="stylesheet" type="text/css" href="{DT_SKIN}a_style.css" media="screen" />
<style>
.zt_left {float:left; width:725px;}
.zt_left h1,.zt_left h2{height:36px; line-height:36px; padding:0; margin:0; font:bold 16px/36px "Microsoft YaHei";}
.zt_left h1 {float:left; text-align:center; width:129px;background:url(/skin/default/img/zt_01.jpg) no-repeat;color:#fff;}
.zt_left h2 {float:right;font-size:12px; font-weight:normal; color:#7A7979;}
.zt_left h2 a {color:#7A7979; margin-right:8px;}.zt_left h2 a:hover { color:#F44870;}
.zt_wrap {clear:both;border:1px solid #E60042;width:723px; padding-bottom:16px;}
.zt_wrap li { float:left; width:221px; margin-left:16px; margin-top:16px; text-align:center; padding-top:1px;}
.zt_wrap li a {background-color:#F5F5F5;border:1px solid #F5F5F5; display:block;height:185px; color:#7A7979;}
.zt_wrap li a:hover {background-color:#FFF4F7; border:1px solid #FFAAC6; color:#DC2661;}
.zt_wrap li img { margin-bottom:9px}
.zt_right{float:left; width:235px;}
.zt_right h3 {background:url(/skin/default/img/zt_02.jpg) right center no-repeat; height:36px; padding:0; margin:0;}
.zt_right li { float:left; width:78px; height:80px; text-align:center}
.zt_ico b,.zt_ico1 b{ margin:0 auto; display:block; width:55px; height:55px; background:url(/skin/default/img/zt_03.jpg);}
.zt_ico1 b {background:url(/skin/default/img/zt_04.jpg);}
b.a2 { background-position:-55px 0}
b.a3 { background-position:-110px 0}
b.a4 { background-position:0 -55px}
b.a5 { background-position:-55px -55px}
b.a6 { background-position:-110px -55px}
b.a7 { background-position:0 -110px}
b.a8 { background-position:-55px -110px}
b.a9 { background-position:-110px -110px}
</style>
<div class="m">
	<div class="zt_left">
        <h1>结婚专题</h1>
        <h2>大家都在看：<a href="/special/show-1.html" target="_blank">订亲</a><a href="/special/show-4.html" target="_blank">结婚流程</a><a href="/special/show-2.html" target="_blank">拍照姿势</a></h2>
        <div class="zt_wrap">
        <!--{tag("moduleid=$moduleid&catid=".$c[catid]."&areaid=$cityid&condition=status=3 and thumb<>''&order=".$MOD[order]."&length=30&width=219&height=152&pagesize=".$MOD[page_icat]."&cols=3&template=thumb-table-2012")}-->
        </div>
	</div>

	<div class="zt_right">
		<h3></h3>
        <ul class="zt_ico">
        	<li><a target="_blank" href="/news/list.php?catid=148"><b class="a1"></b>求婚指南</a></li>
            <li><a target="_blank" href="/news/list.php?catid=34"><b class="a2"></b>结婚吉日</a></li>
            <li><a target="_blank" href="/news/list.php?catid=33"><b class="a3"></b>婚前检查</a></li>
            <li><a target="_blank" href="/news/list.php?catid=31"><b class="a4"></b>登记结婚</a></li>
            <li><a target="_blank" href="/news/list.php?catid=44"><b class="a5"></b>婚前美容</a></li>
            <li><a target="_blank" href="/news/list.php?catid=146"><b class="a6"></b>婚庆合同</a></li>
            <li><a target="_blank" href="/news/list.php?catid=113"><b class="a7"></b>结婚喜帖</a></li>
            <li><a target="_blank" href="/news/list.php?catid=38"><b class="a8"></b>拍照指南</a></li>
            <li><a target="_blank" href="/news/list.php?catid=76"><b class="a9"></b>婚礼布置</a></li>
            <div style="clear:both"></div>
        </ul>
        <ul class="zt_ico1">
            <li><a target="_blank" href="/news/list.php?catid=43"><b class="a1"></b>结婚物品</a></li>
            <li><a target="_blank" href="/news/list.php?catid=150"><b class="a2"></b>伴娘伴郎</a></li>
            <li><a target="_blank" href="/news/list.php?catid=141"><b class="a3"></b>婚礼音乐</a></li>
            <li><a target="_blank" href="/special/show-4.html"><b class="a4"></b>结婚流程</a></li>
            <li><a target="_blank" href="/news/list.php?catid=142"><b class="a5"></b>结婚誓词</a></li>
            <li><a target="_blank" href="/news/list.php?catid=40"><b class="a6"></b>婚纱礼服</a></li>
            <li><a target="_blank" href="/news/list.php?catid=140"><b class="a7"></b>结婚游戏</a></li>
            <li><a target="_blank" href="/news/list.php?catid=143"><b class="a8"></b>禁忌讲究</a></li>
            <li><a target="_blank" href="/news/list.php?catid=433"><b class="a9"></b>婚房装饰</a></li>
            <div style="clear:both"></div>
        </ul>
	</div>
</div>
{template 'footer'}