{template 'header'}
<table width="960" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#fff3f6">
  <tbody>
    <tr>
      <td align="center" valign="top" style="background:url(images/bj_01.jpg) repeat-x bottom;"><img src="/skin/default/daojishi/djs_01.jpg" width="960" height="270" alt="婚礼倒计时" /> </td>
    </tr>
  </tbody>
</table>
<table width="960" border="0" align="center" cellpadding="0" cellspacing="0" class="ke-zeroborder">
  <tbody>
    <tr>
      <td height="54"><img alt="婚前6个月" src="/skin/default/daojishi/djs_02.jpg" width="960" height="31" /> </td>
    </tr>
    <tr>
      <td height="441"><table width="960" border="0" cellspacing="0" cellpadding="0" class="ke-zeroborder">
          <tbody>
            <tr>
              <td width="260" height="372" valign="top"><div align="center"><img alt="" src="/skin/default/daojishi/2.jpg" width="231" height="347" /> </div></td>
              <td width="720"><table width="720" border="0" cellspacing="0" cellpadding="0">
                  <tbody>
                    <tr>
                      <td width="200">1、<strong style="color:#FF6699;font-size:14px">选定婚期</strong></td>
                      <td width="206">2、<strong style="color:#FF6699;font-size:14px">决定婚礼样式</strong></td>
                      <td width="326">3、<strong style="color:#FF6699;font-size:14px">开始预算，可以请一个婚礼筹备顾问</strong></td>
                    </tr>
                    <tr>
                      <td valign="top"><table width="200" border="0" cellspacing="5" cellpadding="0" class="ke-zeroborder">
                          <tbody>
                            <tr>
                              <td width="35" align="right"><img alt="" src="/skin/default/daojishi/bj_02.jpg" width="15" height="17" /> </td>
                              <td width="150" height="20"><a href="http://www.hezejiehun.com/news/list.php?catid=34" target="_blank">婚礼吉日</a></td>
                            </tr>
                            <tr>
                              <td align="right"><img alt="" src="/skin/default/daojishi/bj_02.jpg" width="15" height="17" /> </td>
                              <td height="20"><a href="http://www.hezejiehun.com/news/list.php?catid=35" target="_blank">法定假日</a></td>
                            </tr>
                            <tr>
                              <td height="86"></td>
                              <td><img alt="" src="/skin/default/daojishi/1.jpg" width="123" height="79" /> </td>
                            </tr>
                          </tbody>
                        </table></td>
                      <td valign="top"><table width="206" border="0" cellspacing="5" cellpadding="0" class="red ke-zeroborder">
                          <tbody>
                            <tr>
                              <td align="right"><img alt="" src="/skin/default/daojishi/bj_02.jpg" width="15" height="17" /> </td>
                              <td height="20"> <a href="http://www.hezejiehun.com/news/1/show4602.html" target="_blank">中式婚礼流程</a></td>
                            </tr>
                            <tr>
                              <td align="right"><img alt="" src="/skin/default/daojishi/bj_02.jpg" width="15" height="17" /> </td>
                              <td height="20"> <a href="http://www.hezejiehun.com/news/1/show4567.html">西式婚礼礼仪手册</a></td>
                            </tr>
                            <tr>
                              <td align="right"><img alt="" src="/skin/default/daojishi/bj_02.jpg" width="15" height="17" /> </td>
                              <td height="20"> <a href="http://www.hezejiehun.com/news/1/show4242.html" target="_blank">西式婚礼常识</a></td>
                            </tr>
                            <tr>
                              <td width="35" align="right"><img alt="" src="/skin/default/daojishi/bj_02.jpg" width="15" height="17" /> </td>
                              <td width="156" height="20"> <a href="http://www.hezejiehun.com/news/1/show4598.html" target="_blank">选择草坪婚礼注意事项</a></td>
                            </tr>
                            <tr>
                              <td align="right"><img alt="" src="/skin/default/daojishi/bj_02.jpg" width="15" height="17" /> </td>
                              <td height="20"> <a href="http://www.hezejiehun.com/news/1/show1323.html" target="_blank">草坪式婚礼vs室内婚礼</a></td>
                            </tr>
                            <tr>
                              <td align="right"><img alt="" src="/skin/default/daojishi/bj_02.jpg" width="15" height="17" /> </td>
                              <td height="20"> <a href="http://www.hezejiehun.com/news/1/show4548.html" target="_blank">别墅婚礼的必知问题</a></td>
                            </tr>
                          </tbody>
                        </table></td>
                      <td valign="top"><table width="311" border="0" cellspacing="5" cellpadding="0" class="ke-zeroborder">
                          <tbody>
                            <tr>
                              <td width="35" align="right"><img alt="" src="/skin/default/daojishi/bj_02.jpg" width="15" height="17" /> </td>
                              <td width="261" height="20"> <a href="http://www.hezejiehun.com/news/1/show1695.html" target="_blank">如何选择婚礼策划师?</a></td>
                            </tr>
                            <tr>
                              <td align="right"><img alt="" src="/skin/default/daojishi/bj_02.jpg" width="15" height="17" /> </td>
                              <td height="20"> <a href="http://www.hezejiehun.com/news/1/show1697.html" target="_blank">挑选婚庆公司的主要标准</a></td>
                            </tr>
                            <tr>
                              <td height="86"></td>
                              <td><img alt="" src="/skin/default/daojishi/4.jpg" width="123" height="79" /><img alt="" src="/skin/default/daojishi/3.jpg" width="123" height="79" /></td>
                            </tr>
                          </tbody>
                        </table></td>
                    </tr>
                    <tr bgcolor="#fff0f4">
                      <td height="30">4、<strong style="color:#FF6699;font-size:14px">选定新居并装修</strong></td>
                      <td colspan="2"> 5、<strong style="color:#FF6699;font-size:14px">选择举办婚礼仪式和婚宴的地点，拟定宾客名单 </strong></td>
                    </tr>
                    <tr>
                      <td height="118" valign="top"><table width="206" border="0" cellspacing="5" cellpadding="0" class="red ke-zeroborder">
                          <tbody>
                            <tr>
                              <td align="right"><img alt="" src="/skin/default/daojishi/bj_02.jpg" width="15" height="17" /> </td>
                              <td height="20"> <a href="http://www.hezejiehun.com/news/1/show4326.html" target="_blank">男女方婚房产权登记</a></td>
                            </tr>
                            <tr>
                              <td align="right"><img alt="" src="/skin/default/daojishi/bj_02.jpg" width="15" height="17" /> </td>
                              <td height="20"> <a href="http://www.hezejiehun.com/news/1/show4843.html" target="_blank">如何装出满意的婚房</a></td>
                            </tr>
                            <tr>
                              <td align="right"><img alt="" src="/skin/default/daojishi/bj_02.jpg" width="15" height="17" /> </td>
                              <td height="20"> <a href="http://www.hezejiehun.com/news/1/show4784.html" target="_blank">婚房装修的最佳选择</a></td>
                            </tr>
                            <tr>
                              <td width="35" align="right"><img alt="" src="/skin/default/daojishi/bj_02.jpg" width="15" height="17" /> </td>
                              <td width="156" height="20"> <a href="http://www.hezejiehun.com/news/1/show2643.html" target="_blank">住宅风水户型图解大全</a></td>
                            </tr>
                          </tbody>
                        </table></td>
                      <td valign="top"><table width="206" border="0" cellspacing="5" cellpadding="0" class="red ke-zeroborder">
                          <tbody>
                            <tr>
                              <td width="35" align="right"><img alt="" src="/skin/default/daojishi/bj_02.jpg" width="15" height="17" /> </td>
                              <td width="156" height="20"> <a href="http://www.hezejiehun.com/news/1/show303.html" target="_blank">选婚宴酒店攻略</a></td>
                            </tr>
                            <tr>
                              <td align="right"><img alt="" src="/skin/default/daojishi/bj_02.jpg" width="15" height="17" /> </td>
                              <td height="20"> <a href="http://www.hezejiehun.com/news/1/show3318.html" target="_blank">请柬怎么写</a></td>
                            </tr>
                            <tr>
                              <td align="right"><img alt="" src="/skin/default/daojishi/bj_02.jpg" width="15" height="17" /> </td>
                              <td height="20"> <a href="http://www.hezejiehun.com/news/1/show3319.html" target="_blank">创意请柬样式</a></td>
                            </tr>
                            <tr>
                              <td align="right"><img alt="" src="/skin/default/daojishi/bj_02.jpg" width="15" height="17" /></td>
                              <td height="20"><a href="http://www.hezejiehun.com/news/2/show5043.html" target="_blank">菏泽婚宴酒店收费标准</a></td>
                            </tr>
                          </tbody>
                      </table></td>
                      <td rowspan="3" align="right"><img alt="" src="/skin/default/daojishi/5.jpg" width="272" height="147" /> </td>
                    </tr>
                    <tr>
                      <td> 1、<strong style="color:#FF6699;font-size:14px">婚前健康检查</strong></td>
                      <td> 2、<strong style="color:#FF6699;font-size:14px">办理结婚手续</strong></td>
                    </tr>
                    <tr>
                      <td valign="top"><table width="206" border="0" cellspacing="5" cellpadding="0" class="red ke-zeroborder">
                          <tbody>
                            <tr>
                              <td width="35" align="right"><img alt="" src="/skin/default/daojishi/bj_02.jpg" width="15" height="17" /> </td>
                              <td width="156" height="20"> <a href="http://www.hezejiehun.com/news/1/show82.html" target="_blank">婚检项目</a></td>
                            </tr>
                            <tr>
                              <td align="right"><img alt="" src="/skin/default/daojishi/bj_02.jpg" width="15" height="17" /> </td>
                              <td height="20"> <a href="http://www.hezejiehun.com/news/2/show5301.html" target="_blank">婚检前的注意事项</a></td>
                            </tr>
                          </tbody>
                        </table></td>
                      <td valign="top"><table width="206" border="0" cellspacing="5" cellpadding="0" class="red ke-zeroborder">
                          <tbody>
                            <tr>
                              <td width="35" align="right"><img alt="" src="/skin/default/daojishi/bj_02.jpg" width="15" height="17" /> </td>
                              <td width="156" height="20"> <a href="http://www.hezejiehun.com/news/1/show2832.html" target="_blank">领证流程</a></td>
                            </tr>
                            <tr>
                              <td align="right"><img alt="" src="/skin/default/daojishi/bj_02.jpg" width="15" height="17" /> </td>
                              <td height="20"> <a href="http://www.hezejiehun.com/news/2/show5297.html" target="_blank">结婚登记的必备材料</a></td>
                            </tr>
                            <tr>
                              <td align="right"><img alt="" src="/skin/default/daojishi/bj_02.jpg" width="15" height="17" /> </td>
                              <td height="20"> <a href="http://www.hezejiehun.com/news/2/show5371.html" target="_blank">菏泽结婚登记处详情</a></td>
                            </tr>
                          </tbody>
                        </table></td>
                    </tr>
                  </tbody>
                </table></td>
            </tr>
          </tbody>
        </table></td>
    </tr>
  </tbody>
</table>
<table width="960" border="0" align="center" cellpadding="0" cellspacing="0" class="ke-zeroborder">
  <tbody>
    <tr>
      <td height="54" valign="bottom"><img alt="" src="/skin/default/daojishi/djs_03.jpg" width="960" height="30" /> </td>
    </tr>
    <tr>
      <td height="265"><table width="960" border="0" cellspacing="0" cellpadding="0" class="red ke-zeroborder">
          <tbody>
            <tr>
              <td height="58" colspan="2"><img alt="" src="/skin/default/daojishi/dh4_01.jpg" width="244" height="37" /> </td>
              <td colspan="2"><img alt="" src="/skin/default/daojishi/dh4_02.jpg" width="238" height="37" /> </td>
              <td colspan="2"><img alt="" src="/skin/default/daojishi/dh4_03.jpg" width="239" height="37" /> </td>
              <td width="262" rowspan="4"><img alt="" src="/skin/default/daojishi/tp_08.jpg" width="262" height="264" /> </td>
            </tr>
            <tr>
              <td width="15" height="22" align="center" valign="middle">·</td>
              <td width="229"><a href="http://www.hezejiehun.com/news/list.php?catid=124" target="_blank">婚前美容</a></td>
              <td width="15" align="center" valign="middle">·</td>
              <td width="223"><a href="http://www.hezejiehun.com/news/list.php?catid=130" target="_blank">选择旅行社注意事项</a></td>
              <td width="15" align="center" valign="middle">·</td>
              <td width="224"><a href="http://www.hezejiehun.com/news/1/show3936.html" target="_blank">结婚蜜月出境旅游的住宿忠告</a></td>
            </tr>
            <tr>
              <td height="22" align="center" valign="middle">·</td>
              <td> <a href="http://www.hezejiehun.com/news/list.php?catid=128" target="_blank">婚前瘦身美体</a></td>
              <td align="center" valign="middle">·</td>
              <td> <a href="http://www.hezejiehun.com/news/list.php?catid=133" target="_blank">蜜月地推荐</a></td>
              <td width="29" align="center">·</td>
              <td width="210"><a href="http://www.hezejiehun.com/news/1/show184.html" target="_blank">婚礼酒店旺季和淡季二者的区别</a></td>
            </tr>
            <tr>
              <td height="45" colspan="2"><div align="center"> <img alt="" src="/skin/default/daojishi/6.jpg" width="218" height="143" /> </div></td>
              <td colspan="2"><div align="center"> <img alt="" src="/skin/default/daojishi/7.jpg" width="218" height="143" /> </div></td>
              <td colspan="2"><div align="center"> <img alt="" src="/skin/default/daojishi/8.jpg" width="218" height="143" /> </div></td>
            </tr>
          </tbody>
        </table></td>
    </tr>
  </tbody>
</table>
<table width="960" border="0" align="center" cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      <td height="54" colspan="6"><img alt="" src="/skin/default/daojishi/djs_04.jpg" width="960" height="30" /> </td>
    </tr>
    <tr>
      <td width="268" height="0" rowspan="2" valign="bottom" bgcolor="#fb4683"><div align="center"> <img alt="" src="/skin/default/daojishi/p4_1.jpg" width="238" height="122" /> </div></td>
      <td width="7" height="620" rowspan="10"></td>
      <td height="33" valign="middle" bgcolor="#FFF0F5"> 1、<strong style="color:#FF6699;font-size:14px">购买婚戒</strong></td>
      <td valign="middle" bgcolor="#FFFFFF" class="f14px"></td>
      <td height="39" bgcolor="#FFF0F5"> 2、<strong style="color:#FF6699;font-size:14px">选择化妆师并试妆</strong></td>
      <td width="189" height="620" rowspan="10" align="center" bgcolor="#FB4683"><img alt="" src="/skin/default/daojishi/tips.gif" width="173" height="159" /> </td>
    </tr>
    <tr>
      <td height="59" colspan="2" valign="bottom" class="f14px"><table width="269" border="0" cellspacing="5" cellpadding="0" class="red ke-zeroborder">
          <tbody>
            <tr>
              <td width="30" align="right"><img alt="" src="/skin/default/daojishi/bj_02.jpg" width="15" height="17" /> </td>
              <td width="219" height="20"> <a href="http://www.hezejiehun.com/news/1/show2533.html" target="_blank">选钻攻略</a></td>
            </tr>
            <tr>
              <td align="right"><img alt="" src="/skin/default/daojishi/bj_02.jpg" width="15" height="17" /> </td>
              <td height="20"> <a href="http://www.hezejiehun.com/news/1/show2504.html" target="_blank">钻石保养小常识</a></td>
            </tr>
            <tr>
              <td align="right"><img alt="" src="/skin/default/daojishi/bj_02.jpg" width="15" height="17" /> </td>
              <td height="27"> <a href="http://www.hezejiehun.com/news/1/show2632.html" target="_blank">婚戒戴在哪个手指</a></td>
            </tr>
          </tbody>
        </table></td>
      <td height="59" valign="top" class="f14px"><table border="0" cellspacing="5" cellpadding="0" class="red ke-zeroborder">
          <tbody>
            <tr>
              <td width="30" align="right"><img alt="" src="/skin/default/daojishi/bj_02.jpg" width="15" height="17" /></td>
              <td height="20"> <a href="http://www.hezejiehun.com/news/1/show2849.html" target="_blank">如何选择婚礼跟妆</a></td>
            </tr>
            <tr>
              <td align="right"><img alt="" src="/skin/default/daojishi/bj_02.jpg" width="15" height="17" /></td>
              <td height="20"><a href="http://www.hezejiehun.com/news/1/show2667.html" target="_blank">准新娘试妆的注意事项</a></td>
            </tr>
            <tr>
              <td align="right"><img alt="" src="/skin/default/daojishi/bj_02.jpg" width="15" height="17" /></td>
              <td height="20"><a href="http://www.hezejiehun.com/news/1/show2791.html" target="_blank">试妆前需做的准备工作</a></td>
            </tr>
          </tbody>
      </table></td>
    </tr>
    <tr>
      <td height="0" rowspan="2" valign="middle" bgcolor="#fb4683"><div align="center"> <img alt="" src="/skin/default/daojishi/p4_2.jpg" width="238" height="121" /> </div></td>
      <td height="33" bgcolor="#FFF0F5"> 3、<strong style="color:#FF6699;font-size:14px">选择婚礼当天所需的婚纱</strong></td>
      <td height="38" bgcolor="#FFFFFF"></td>
      <td bgcolor="#FFF0F5"> 4、<strong style="color:#FF6699;font-size:14px">选择婚纱摄影公司，拍摄婚纱照</strong></td>
    </tr>
    <tr>
      <td colspan="2"><table width="269" border="0" cellspacing="5" cellpadding="0" class="red ke-zeroborder">
          <tbody>
            <tr>
              <td width="30" align="right"><img alt="" src="/skin/default/daojishi/bj_02.jpg" width="15" height="17" /> </td>
              <td width="219" height="20"> <a href="http://www.hezejiehun.com/news/1/show2339.html" target="_blank">做性感新娘 露多少才算性感</a></td>
            </tr>
            <tr>
              <td align="right"><img alt="" src="/skin/default/daojishi/bj_02.jpg" width="15" height="17" /> </td>
              <td height="20"> <a href="http://www.hezejiehun.com/news/1/show2336.html" target="_blank">平胸新娘穿什么婚纱更显自信</a></td>
            </tr>
            <tr>
              <td align="right"><img alt="" src="/skin/default/daojishi/bj_02.jpg" width="15" height="17" /> </td>
              <td height="27"> <a href="http://www.hezejiehun.com/news/1/show2993.html" target="_blank">胖新娘如何选婚纱</a></td>
            </tr>
            <tr>
              <td align="right"><img alt="" src="/skin/default/daojishi/bj_02.jpg" width="15" height="17" /> </td>
              <td height="17"> <a href="http://www.hezejiehun.com/news/1/show2283.html" target="_blank">婚纱保养注意事项</a></td>
            </tr>
          </tbody>
        </table></td>
      <td height="59" valign="top" class="f14px"><table border="0" cellspacing="5" cellpadding="0" class="red ke-zeroborder">
          <tbody>
            <tr>
              <td width="30" align="right"><img alt="" src="/skin/default/daojishi/bj_02.jpg" width="15" height="17" /></td>
              <td height="20"> <a href="http://www.hezejiehun.com/news/1/show541.html" target="_blank">选择婚纱影楼需注意的四大内幕</a></td>
            </tr>
            <tr>
              <td align="right"><img alt="" src="/skin/default/daojishi/bj_02.jpg" width="15" height="17" /></td>
              <td height="20"><a href="http://www.hezejiehun.com/news/1/show328.html" target="_blank">影楼、摄影工作室优缺点大比拼</a></td>
            </tr>
            <tr>
              <td align="right"><img alt="" src="/skin/default/daojishi/bj_02.jpg" width="15" height="17" /></td>
              <td height="20"><a href="http://www.hezejiehun.com/news/1/show372.html" target="_blank">胖人的婚纱照 怎么拍婚纱照</a></td>
            </tr>
            <tr>
              <td align="right"><img alt="" src="/skin/default/daojishi/bj_02.jpg" width="15" height="17" /></td>
              <td height="20"><a href="http://www.hezejiehun.com/news/1/show570.html" target="_blank">避开消费陷阱 理性订婚纱照</a></td>
            </tr>
          </tbody>
      </table></td>
    </tr>
    <tr>
      <td height="0" rowspan="2" valign="middle" bgcolor="#fb4683"><div align="center"> <img alt="" src="/skin/default/daojishi/p4_3.jpg" width="238" height="120" /> </div></td>
      <td width="228" height="33" bgcolor="#FFF0F5"> 5、<strong style="color:#FF6699;font-size:14px">选定婚庆公司</strong></td>
      <td width="41" height="33" bgcolor="#FFFFFF"></td>
      <td width="247" bgcolor="#FFF0F5"> 6、<strong style="color:#FF6699;font-size:14px">确定伴郎伴娘花童人选</strong></td>
    </tr>
    <tr>
      <td colspan="2"><table width="269" border="0" cellspacing="5" cellpadding="0" class="red ke-zeroborder">
          <tbody>
            <tr>
              <td width="30" align="right"><img alt="" src="/skin/default/daojishi/bj_02.jpg" width="15" height="17" /> </td>
              <td width="219" height="20"> <a href="http://www.hezejiehun.com/news/1/show1290.html" target="_blank">如何选择婚庆公司</a></td>
            </tr>
            <tr>
              <td align="right"><img alt="" src="/skin/default/daojishi/bj_02.jpg" width="15" height="17" /> </td>
              <td height="20"> <a href="http://www.hezejiehun.com/news/1/show1635.html" target="_blank">婚庆里头有陷阱 新人怎么跳出危城</a></td>
            </tr>
            <tr>
              <td align="right"><img alt="" src="/skin/default/daojishi/bj_02.jpg" width="15" height="17" /> </td>
              <td height="20"> <a href="http://www.hezejiehun.com/news/2/show5342.html" target="_blank">婚庆合同模板</a></td>
            </tr>
          </tbody>
        </table></td>
      <td width="247"><table border="0" cellspacing="5" cellpadding="0" class="red ke-zeroborder">
          <tbody>
            <tr>
              <td width="30" align="right"><img alt="" src="/skin/default/daojishi/bj_02.jpg" width="15" height="17" /> </td>
              <td height="20"> <a href="http://www.hezejiehun.com/news/1/show4924.html" target="_blank">伴郎要做些什么</a></td>
            </tr>
            <tr>
              <td align="right"><img alt="" src="/skin/default/daojishi/bj_02.jpg" width="15" height="17" /> </td>
              <td height="20"> <a href="http://www.hezejiehun.com/news/1/show4873.html" target="_blank">伴娘婚礼职责 伴娘工作手册</a></td>
            </tr>
            <tr>
              <td align="right"><img alt="" src="/skin/default/daojishi/bj_02.jpg" width="15" height="17" /> </td>
              <td height="20"> <a href="http://www.hezejiehun.com/news/1/show4861.html" target="_blank">花童攻略 怎么管好花童</a></td>
            </tr>
          </tbody>
        </table></td>
    </tr>
    <tr>
      <td height="0" rowspan="2" valign="middle" bgcolor="#fb4683"><div align="center"> <img alt="" src="/skin/default/daojishi/p4_4.jpg" width="238" height="121" /> </div></td>
      <td height="33" bgcolor="#FFF0F5"> 7、<strong style="color:#FF6699;font-size:14px">选择伴郎伴娘、新人亲属礼服</strong></td>
      <td height="20" bgcolor="#FFFFFF"></td>
      <td width="247" bgcolor="#FFF0F5"> 8、<strong style="color:#FF6699;font-size:14px">和酒店讨论菜单等细节</strong></td>
    </tr>
    <tr>
      <td colspan="2"><table width="269" border="0" cellspacing="5" cellpadding="0" class="red ke-zeroborder">
          <tbody>
            <tr>
              <td width="30" align="right"><img alt="" src="/skin/default/daojishi/bj_02.jpg" width="15" height="17" /> </td>
              <td width="219" height="20"> <a href="http://www.hezejiehun.com/news/1/show3432.html" target="_blank">如何选婚鞋</a></td>
            </tr>
            <tr>
              <td align="right"><img alt="" src="/skin/default/daojishi/bj_02.jpg" width="15" height="17" /> </td>
              <td height="20"> <a href="http://www.hezejiehun.com/news/1/show2266.html" target="_blank">新娘婚礼需要几套衣服</a></td>
            </tr>
            <tr>
              <td align="right"><img alt="" src="/skin/default/daojishi/bj_02.jpg" width="15" height="17" /> </td>
              <td height="27"> <a href="http://www.hezejiehun.com/news/1/show2119.html" target="_blank">新郎礼服挑选攻略</a></td>
            </tr>
            <tr>
              <td align="right"><img alt="" src="/skin/default/daojishi/bj_02.jpg" width="15" height="17" /> </td>
              <td height="27"> <a href="http://www.hezejiehun.com/news/1/show4870.html" target="_blank">怎样选购伴娘服</a></td>
            </tr>
            <tr>
              <td align="right"><img alt="" src="/skin/default/daojishi/bj_02.jpg" width="15" height="17" /> </td>
              <td height="17"> <a href="http://www.hezejiehun.com/news/1/show2136.html" target="_blank">父母着装原则</a></td>
            </tr>
          </tbody>
        </table></td>
      <td height="59" valign="top" class="f14px"><table border="0" cellspacing="5" cellpadding="0" class="red ke-zeroborder">
          <tbody>
            <tr>
              <td width="30" align="right"><img alt="" src="/skin/default/daojishi/bj_02.jpg" width="15" height="17" /></td>
              <td height="20"> <a href="http://www.hezejiehun.com/news/1/show178.html" target="_blank">如何确订婚宴菜单</a></td>
            </tr>
            <tr>
              <td align="right"><img alt="" src="/skin/default/daojishi/bj_02.jpg" width="15" height="17" /></td>
              <td height="20"><a href="http://www.hezejiehun.com/news/1/show170.html" target="_blank">预订婚宴是否需要试菜</a></td>
            </tr>
            <tr>
              <td align="right"><img alt="" src="/skin/default/daojishi/bj_02.jpg" width="15" height="17" /></td>
              <td height="27"><a href="http://www.hezejiehun.com/news/2/show5043.html" target="_blank">菏泽各婚宴酒店收费标准</a></td>
            </tr>
            <tr>
              <td align="right"><img alt="" src="/skin/default/daojishi/bj_02.jpg" width="15" height="17" /></td>
              <td height="27"><a href="http://www.hezejiehun.com/news/1/show4004.html" target="_blank">婚礼当天来宾人数突增怎么安排</a></td>
            </tr>
            <tr>
              <td align="right"><img alt="" src="/skin/default/daojishi/bj_02.jpg" width="15" height="17" /></td>
              <td height="17"><a href="http://www.hezejiehun.com/news/1/show163.html" target="_blank">西式婚宴食谱</a></td>
            </tr>
          </tbody>
      </table></td>
    </tr>
    <tr>
      <td height="0" rowspan="2" valign="top" bgcolor="#fb4683"><div align="center"> <img alt="" src="/skin/default/daojishi/p4_5.jpg" width="238" height="122" /> </div></td>
      <td height="33" bgcolor="#FFF0F5"> 9、<strong style="color:#FF6699;font-size:14px">选定仪式上的主持词，征婚词</strong></td>
      <td height="35" bgcolor="#FFFFFF"></td>
      <td width="247" bgcolor="#FFF0F5"> 10、<strong style="color:#FF6699;font-size:14px">若出外度蜜月，考虑办护照</strong></td>
    </tr>
    <tr>
      <td height="94" colspan="2" valign="top"><table width="269" border="0" cellspacing="5" cellpadding="0" class="red ke-zeroborder">
          <tbody>
            <tr>
              <td width="30" align="right"><img alt="" src="/skin/default/daojishi/bj_02.jpg" width="15" height="17" /></td>
              <td width="219" height="20"> <a href="http://www.hezejiehun.com/news/1/show4075.html" target="_blank">婚礼致辞大全</a></td>
            </tr>
            <tr>
              <td align="right"><img alt="" src="/skin/default/daojishi/bj_02.jpg" width="15" height="17" /></td>
              <td height="20"><a href="http://www.hezejiehun.com/news/1/show1539.html" target="_blank">中式婚礼主持人如何挑选</a></td>
            </tr>
            <tr>
              <td align="right"><img alt="" src="/skin/default/daojishi/bj_02.jpg" width="15" height="17" /></td>
              <td height="20"><a href="http://www.hezejiehun.com/news/1/show1548.html">怎么区分特级、资深、优秀主持司仪</a></td>
            </tr>
          </tbody>
      </table></td>
      <td width="247" valign="top"><table width="183" border="0" cellspacing="5" cellpadding="0" class="red ke-zeroborder">
          <tbody>
            <tr>
              <td width="30" align="right"><img alt="" src="/skin/default/daojishi/bj_02.jpg" width="15" height="17" /> </td>
              <td width="133" height="20"> <a href="http://www.hezejiehun.com/news/1/show3831.html" target="_blank">办理签证需知</a></td>
            </tr>
            <tr>
              <td align="right"><img alt="" src="/skin/default/daojishi/bj_02.jpg" width="15" height="17" /> </td>
              <td height="20"> <a href="http://www.hezejiehun.com/news/1/show3826.html" target="_blank">蜜月注意事项</a></td>
            </tr>
            <tr>
              <td align="right"><img alt="" src="/skin/default/daojishi/bj_02.jpg" width="15" height="17" /> </td>
              <td height="20"><a href="http://www.hezejiehun.com/news/1/show3859.html" target="_blank">国外哪里适合度蜜月</a></td>
            </tr>
          </tbody>
      </table></td>
    </tr>
  </tbody>
</table>
<table width="960" border="0" align="center" cellpadding="0" cellspacing="0" class="ke-zeroborder">
  <tbody>
    <tr>
      <td height="23" colspan="5" background="/skin/default/daojishi/bj_01.jpg" style"background:url(images="" bj_01.jpg)="" repeat-x="" bottom;"=""></td>
    </tr>
    <tr>
      <td height="54" colspan="5"><img alt="" src="/skin/default/daojishi/djs_05.jpg" width="960" height="32" /> </td>
    </tr>
  </tbody>
</table>
<table width="960" border="0" align="center" cellpadding="0" cellspacing="0" class="ke-zeroborder">
  <tbody>
    <tr bgcolor="#FFF0F5">
      <td width="960" height="217"><table width="981" border="0" cellspacing="0" cellpadding="0">
          <tbody>
            <tr>
              <td width="282" height="102" rowspan="6" align="center"><img alt="" src="/skin/default/daojishi/9.jpg" width="254" height="165" /> </td>
              <td width="309" height="30"> 1、<strong style="color:#FF6699;font-size:14px">检查美容美体效果，及时调整护理方案</strong></td>
              <td colspan="2"> 2、<strong style="color:#FF6699;font-size:14px">试穿礼服，以便修改</strong></td>
            </tr>
            <tr>
              <td height="20"><table width="269" border="0" cellspacing="5" cellpadding="0" class="red ke-zeroborder">
                  <tbody>
                    <tr>
                      <td width="30" align="right" style="color:#fe214a;"> · </td>
                      <td width="224" height="20"> <a href="http://www.hezejiehun.com/news/1/show3514.html" target="_blank">美容急救</a></td>
                    </tr>
                    <tr>
                      <td align="right" style="color:#fe214a;"> · </td>
                      <td height="20"> <a href="http://www.hezejiehun.com/news/2/show5090.html" target="_blank">减肥速成</a></td>
                    </tr>
                  </tbody>
                </table></td>
              <td height="20" colspan="2" valign="top"><table width="269" border="0" cellspacing="5" cellpadding="0" class="red ke-zeroborder">
                  <tbody>
                    <tr>
                      <td width="30" align="right" style="color:#fe214a;"> · </td>
                      <td width="224" height="20"> <a href="http://www.hezejiehun.com/news/1/show2264.html" target="_blank">如何修改不合身的婚纱礼服</a></td>
                    </tr>
                    <tr>
                      <td align="right" style="color:#fe214a;">· </td>
                      <td height="20"><a href="http://www.hezejiehun.com/news/1/show2122.html" target="_blank">新郎礼服款式图解</a></td>
                    </tr>
                  </tbody>
              </table></td>
            </tr>
            <tr>
              <td height="27"> 3、<strong style="color:#FF6699;font-size:14px">选择捧花及其他配饰</strong></td>
              <td colspan="2"> 4、<strong style="color:#FF6699;font-size:14px">请婚假</strong>   5、<strong style="color:#FF6699;font-size:14px">邀请主婚人，介绍人</strong></td>
            </tr>
            <tr>
              <td width="309" rowspan="2" valign="top"><table width="269" border="0" cellspacing="5" cellpadding="0" class="red ke-zeroborder">
                  <tbody>
                    <tr>
                      <td width="30" align="right" style="color:#fe214a;"> · </td>
                      <td width="224" height="20"> <a href="http://www.hezejiehun.com/news/1/show1461.html" target="_blank">手捧花花材知识</a></td>
                    </tr>
                    <tr>
                      <td align="right" style="color:#fe214a;"> · </td>
                      <td height="20"> <a href="http://www.hezejiehun.com/news/1/show2334.html" target="_blank">如何选择手捧花</a></td>
                    </tr>
                  </tbody>
                </table></td>
              <td width="19" valign="top"><table width="295" border="0" cellspacing="5" cellpadding="0" class="red ke-zeroborder">
                  <tbody>
                    <tr>
                      <td width="30" align="right" style="color:#fe214a;"> · </td>
                      <td width="95" height="20"> <a href="http://www.hezejiehun.com/news/1/show124.html" target="_blank">法定婚假标准</a></td>
                      <td width="37" align="right" style="color:#fe214a;"> · </td>
                      <td width="108"> <a href="http://www.hezejiehun.com/news/1/show4449.html" target="_blank">婚礼角色分工</a></td>
                    </tr>
                    <tr>
                      <td align="right" style="color:#fe214a;">· </td>
                      <td height="20"><a href="http://www.hezejiehun.com/news/1/show124.html" target="_blank">法定晚婚假</a></td>
                      <td align="right" style="color:#fe214a;">· </td>
                      <td><a href="http://www.hezejiehun.com/news/1/show121.html" target="_blank">写婚假申请书</a></td>
                    </tr>
                  </tbody>
              </table></td>
            </tr>
          </tbody>
        </table></td>
    </tr>
    <tr>
      <td height="54"><img alt="" src="/skin/default/daojishi/djs_06.jpg" width="960" height="31" /> </td>
    </tr>
    <tr bgcolor="#FFF0F5">
      <td height="230"><table width="981" border="0" cellspacing="0" cellpadding="0">
          <tbody>
            <tr>
              <td width="282" height="102" rowspan="9" align="center"><img alt="" src="/skin/default/daojishi/10.jpg" width="254" height="165" /> </td>
              <td width="309" height="33"> 1、<strong style="color:#FF6699;font-size:14px">打印婚礼流程，决定细节</strong></td>
              <td colspan="2"> 2、<strong style="color:#FF6699;font-size:14px">确定全套礼服，包括鞋子和内衣</strong></td>
            </tr>
            <tr>
              <td height="20" valign="top"><table width="269" border="0" cellspacing="5" cellpadding="0" class="red ke-zeroborder">
                  <tbody>
                    <tr>
                      <td width="30" align="right" style="color:#fe214a;"> · </td>
                      <td width="224" height="20"> <a href="http://www.hezejiehun.com/news/1/show4482.html" target="_blank">婚礼流程</a></td>
                    </tr>
                  </tbody>
                </table></td>
              <td height="20" colspan="2" valign="top"><table width="269" border="0" cellspacing="5" cellpadding="0" class="red ke-zeroborder">
                  <tbody>
                    <tr>
                      <td width="30" align="right" style="color:#fe214a;"> · </td>
                      <td width="224" height="20"> <a href="http://www.hezejiehun.com/news/1/show2231.html" target="_blank">新娘内衣选购攻略</a></td>
                    </tr>
                  </tbody>
                </table></td>
            </tr>
            <tr>
              <td width="309" height="20"> 3、<strong style="color:#FF6699;font-size:14px">和酒店确定事宜、试餐</strong></td>
              <td width="309" height="20"> 4、<strong style="color:#FF6699;font-size:14px">购买喜糖、喜烟、喜酒</strong></td>
            </tr>
            <tr>
              <td height="10"><table width="269" border="0" cellspacing="5" cellpadding="0" class="red ke-zeroborder">
                  <tbody>
                    <tr>
                      <td width="30" align="right" style="color:#fe214a;"> · </td>
                      <td width="224" height="20"> <a href="http://www.hezejiehun.com/news/1/show233.html" target="_blank">婚宴省钱妙招</a></td>
                    </tr>
                    <tr> </tr>
                  </tbody>
                </table></td>
              <td height="10" colspan="2"><table width="269" border="0" cellspacing="5" cellpadding="0" class="red ke-zeroborder">
                  <tbody>
                    <tr>
                      <td width="30" align="right" style="color:#fe214a;"> · </td>
                      <td width="224" height="20"> 【<a href="http://www.hezejiehun.com/news/1/show3243.html" target="_blank">喜糖</a>】 【<a href="http://www.hezejiehun.com/news/1/show3265.html" target="_blank">喜烟</a>】 【<a href="http://www.hezejiehun.com/news/1/show3241.html" target="_blank">喜酒</a>】</td>
                    </tr>
                    <tr>
                      <td width="30" align="right" style="color:#fe214a;"> · </td>
                      <td width="224" height="20"> <a href="http://www.hezejiehun.com/news/1/show4920.html" target="_blank">新人如何避酒</a></td>
                    </tr>
                  </tbody>
                </table></td>
            </tr>
            <tr>
              <td height="10" rowspan="2"></td>

            </tr>
            <tr>
              <td width="0" align="right" style="color:#fe214a;"></td>
            </tr>
            <tr>
              <td height="20"> 5、<strong style="color:#FF6699;font-size:14px">寄出请柬并电话确认</strong></td>
              <td colspan="2"> 6、<strong style="color:#FF6699;font-size:14px">准备礼金登记簿，预定派发的红包、小礼品</strong></td>
            </tr>
            <tr>
              <td width="309" rowspan="2" valign="top"><table width="269" border="0" cellspacing="5" cellpadding="0" class="red ke-zeroborder">
                  <tbody>
                    <tr>
                      <td width="29" align="right" style="color:#fe214a;"> · </td>
                      <td width="225" height="20"> <a href="http://www.hezejiehun.com/news/1/show3318.html" target="_blank">请柬书写规则</a></td>
                    </tr>
                    <tr>
                      <td align="right" style="color:#fe214a;"> · </td>
                      <td height="20"> <a href="http://www.hezejiehun.com/news/1/show289.html" target="_blank">个性DIY印制请柬预算</a></td>
                    </tr>
                    <tr>
                      <td align="right" style="color:#fe214a;"> · </td>
                      <td height="21"> <a href="http://www.hezejiehun.com/news/1/show3310.html" target="_blank">发出请柬注意问题</a></td>
                    </tr>
                  </tbody>
                </table></td>
              <td height="94"><table width="269" border="0" cellspacing="5" cellpadding="0" class="red ke-zeroborder">
                  <tbody>
                    <tr>
                      <td width="30" align="right" style="color:#fe214a;"> · </td>
                      <td width="224" height="20"> <a href="http://www.hezejiehun.com/news/1/show4488.html" target="_blank">婚礼回礼实用攻略</a></td>
                    </tr>
                    <tr>
                      <td width="30" align="right" style="color:#fe214a;"> · </td>
                      <td width="224" height="20"> <a href="http://www.hezejiehun.com/news/2/show5372.html" target="_blank">红包要发给谁</a></td>
                    </tr>
                    <tr>
                      <td align="right" style="color:#fe214a;"></td>
                      <td height="20"></td>
                    </tr>
                  </tbody>
                </table></td>
            </tr>
          </tbody>
        </table></td>
    </tr>
  </tbody>
</table>
<table width="960" border="0" align="center" cellpadding="0" cellspacing="0" class="ke-zeroborder">
  <tbody>
    <tr>
      <td height="97"><img alt="" src="/skin/default/daojishi/djs_07.jpg" width="960" height="32" /> </td>
    </tr>
    <tr bgcolor="#FFF0F5">
      <td height="219"><table width="981" border="0" cellspacing="0" cellpadding="0">
          <tbody>
            <tr>
              <td width="334" height="102" rowspan="9" align="center"><img alt="" src="/skin/default/daojishi/11.jpg" width="254" height="165" /> </td>
              <td height="41"> 1、<strong style="color:#FF6699;font-size:14px">确定宾客在婚宴上的座位</strong></td>
              <td height="41" colspan="3"> 2、<strong style="color:#FF6699;font-size:14px">通知婚宴最后确定的人数，与饭店敲定各项细节</strong></td>
            </tr>
            <tr>
              <td height="40" colspan="2" valign="top"><table width="189" border="0" cellspacing="5" cellpadding="0" class="red ke-zeroborder">
                  <tbody>
                    <tr>
                      <td width="30" align="right" style="color:#fe214a;">· </td>
                      <td width="158" height="20"><a href="http://www.hezejiehun.com/news/1/show270.html" target="_blank">婚宴座位安排注意事项</a></td>
                    </tr>
                  </tbody>
                </table></td>
              <td width="213" height="66" colspan="2" rowspan="8" valign="top"><div align="right"> <img alt="" src="/skin/default/daojishi/tp_09_03.jpg" width="212" height="181" /> </div></td>
            </tr>
            <tr>
              <td width="194" height="20"> 3、<strong style="color:#FF6699;font-size:14px">写好祝酒词</strong></td>
              <td width="240"> 4、<strong style="color:#FF6699;font-size:14px">新娘在家适应新鞋</strong></td>
            </tr>
            <tr>
              <td height="33" colspan="2" valign="top"><table width="181" border="0" cellspacing="5" cellpadding="0" class="red ke-zeroborder">
                  <tbody>
                    <tr>
                      <td width="30" align="right" style="color:#fe214a;">· </td>
                      <td width="136" height="20"><a href="http://www.hezejiehun.com/news/1/show4923.html" target="_blank">祝酒词范例</a></td>
                    </tr>
                  </tbody>
                </table></td>
            </tr>
            <tr>
              <td height="21"> 5、<strong style="color:#FF6699;font-size:14px">决定婚礼工作人员名单</strong></td>
              <td height="21"><span>6、<strong style="color:#FF6699;font-size:14px">检查婚礼当天各项物品是否齐备</strong></span></td>
            </tr>
            <tr>
              <td height="22"><table width="181" border="0" cellspacing="5" cellpadding="0" class="red ke-zeroborder">
                <tbody>
                  <tr>
                    <td width="30" align="right" style="color:#fe214a;">· </td>
                    <td width="136" height="20"><a href="http://www.hezejiehun.com/news/1/show1768.html" target="_blank">选对婚庆工作人员</a></td>
                  </tr>
                </tbody>
              </table></td>
              <td height="22" class="fwr"><table width="184" border="0" cellspacing="5" cellpadding="0" class="red ke-zeroborder">
                  <tbody>
                    <tr>
                      <td width="30" align="right" style="color:#fe214a;">· </td>
                      <td width="140" height="20"><a href="http://www.hezejiehun.com/news/1/show189.html" target="_blank">婚礼突发事件应急</a></td>
                    </tr>
                  </tbody>
                </table></td>
            </tr>
            <tr>
              <td height="5"> 7、<strong style="color:#FF6699;font-size:14px">打扫新房</strong></td>
              <td height="5"></td>
            </tr>
            <tr>
              <td height="5"></td>
              <td height="5"></td>
            </tr>
            <tr> </tr>
          </tbody>
        </table></td>
    </tr>
  </tbody>
</table>
{php $_tag=tag("moduleid=21&table=article_21&pagesize=16&order=hits desc&template=null")}
<style>.djsli{width:240px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;float:left;height:24px;}</style>
<ul style="width:960px; margin:20px auto 0 auto;">
{loop $_tag $k $t}
<li class="djsli"><a href="{$t[linkurl]}" target="_blank" title="{$t[title]}">{$t[title]}</a></li>
{/loop}
</ul>
{template 'footer'}