{template 'head'}
<link rel="stylesheet" href="{DT_SKIN}user.css">
<div class="margin-top-15"></div>

<div class="container row box">
    {template 'left', 'user'}

    <div class="col-md-9">
        <div class="margin-top-30"></div>


            <h2>联系我吧 {if $_userid==$userid}<a href="{userurl($username, 'action=edit', $domain)}" class="small">修改信息</a>{/if}</h2>
            <hr>
            <dl class="dl-horizontal">
                <dt>所在地:</dt>
                <dd><strong>{if $member[truename]}{$member[truename]}{else}{$member[username]}{/if}</strong></dd>
                <dt>所在地:</dt>
                <dd><strong>{area_pos($member[areaid], '&nbsp;')}</strong></dd>
                <dt>结婚日期:</dt>
                <dd><a>{$member[weddate]}</a></dd>
                <dt>所需服务:</dt>
                <dd><b><a>{implode(',', $wed_cats)}</a></b></dd>
                <dt>联系方式:</dt>
                <dd>
                    {if $_userid==$userid || $_groupid>5}
                    {$member[career]}&nbsp;{if $member[username] && $DT[im_web]}{im_web($member[username],1)}&nbsp;{/if}
                    {if $member[qq] && $DT[im_qq]}{im_qq($member[qq], 1)}&nbsp;{/if}
                    {if $member[ali] && $DT[im_ali]}{im_ali($member[ali])}&nbsp;{/if}
                    {if $member[msn] && $DT[im_msn]}{im_msn($member[msn])}&nbsp;{/if}
                    {if $member[skype] && $DT[im_skype]}{im_skype($member[skype])}&nbsp;{/if}
                    {else}
                    无权限查看
                    {/if}

                </dd>

            </dl>



            <!--
            <i class="icon-globe"></i> - BlackTie.co <br/>
            <i class="icon-envelope"></i> - victoria@blacktie.co-->


    </div>
</div>


<div class="margin-top-15"></div>

{template 'foot'}
<script src="{DT_SKIN}scripts/user.js"></script>