{template 'header', 'user'}


<div class="container">
    <div class="margin-top-50"></div>
    <div class="col-lg-6 col-lg-offset-3">

        <!-- ===== vCard Navigation ===== -->
        <div class="row w">
            <div class="col-md-3">
                {if $_userid==$userid}
                <img class="img-responsive" src="{useravatar($username, 'large')}" id="update_avatar" width="150px" alt="更改头像">
                {else}
                <img class="img-responsive" src="{useravatar($username, 'large')}" width="150px" alt="{$username}">
                {/if}
                <ul class="nav nav-tabs nav-stacked" id="myTab">
                    <li{if !$um} class="active"{/if}><a href="{userurl($username, '', $domain)}">首页</a></li>
                   <!-- <li{if $um=='profile'} class="active"{/if}><a href="{userurl($username, 'um=profile', $domain)}">个人信息</a></li>-->
                    <li{if $um=='blog'} class="active"{/if}><a href="{userurl($username, 'um=blog', $domain)}">我的日志</a></li>
                    <li{if $um=='album'} class="active"{/if}><a href="{userurl($username, 'um=album', $domain)}">我的相册</a></li>

                </ul>
            </div><!-- col-md-4 -->

            <!-- ===== vCard Content ===== -->
            <div class="col-md-9">
                <div class="tab-content">

                    {if !$um}
                    <!-- ===== First Tab ===== -->
                    <div class="tab-pane active" id="about">
                        <h3>{$member[truename]}</h3>
                        <h5>{$member[username]} {if $_userid==$userid}<a href="javascript:;" class="update_profile small">修改信息</a>{/if}</h5>
                        <hr>
                        <div class="row">
                            <div class="col-xs-12">
                                <p class="sm">
                                    <strong>所在地</strong>:{area_pos($member[areaid], '&nbsp;')}<br/>
                                    <strong>结婚日期</strong>:<a>{$member[weddate]}</a><br/>
                                    <strong>所需服务</strong>:<a>{implode(',', $wed_cats)}</a><br/>
                                    <strong>联系方式</strong>:{$member[career]}&nbsp;
                                    {if $member[username] && $DT[im_web]}{im_web($member[username],1)}&nbsp;{/if}
                                    {if $member[qq] && $DT[im_qq]}{im_qq($member[qq], 1)}&nbsp;{/if}
                                    {if $member[ali] && $DT[im_ali]}{im_ali($member[ali])}&nbsp;{/if}
                                    {if $member[msn] && $DT[im_msn]}{im_msn($member[msn])}&nbsp;{/if}
                                    {if $member[skype] && $DT[im_skype]}{im_skype($member[skype])}&nbsp;{/if}<br />
                                    <!--
                                    <i class="icon-globe"></i> - BlackTie.co <br/>
                                    <i class="icon-envelope"></i> - victoria@blacktie.co-->
                                </p>
                            </div><!-- col-xs-6 -->
                        </div><!-- row -->


                    </div><!-- tab about -->
                    {/if}


                    <!-- ===== Third Tab ===== -->
                    {if $um=='blog'}
                    <div class="tab-pane active" id="blog">

                        {if !$itemid}

                        <h3>日志 {if $_userid==$userid}<a href="javascript:;" class="update_blog small">添加日志</a>{/if}</h3>
                        <hr>


                        <div class="row">
                            {php $_tags=tag("moduleid=24&condition=username='".$username."'&pagesize=1000&template=null");}
                            {loop $_tags $k $t}

                            <div class="col-xs-12">
                            <div class="centered"><h4><a href="{userurl($t[username], 'um=blog&itemid='.$t['itemid'], $domain)}">{$t[title]}</a></h4></div>

                            <p>&nbsp;&nbsp;&nbsp;&nbsp;{$t[introduce]}<p>
                            <blockquote class="pull-right"><em>发表于{timetodate($t[edittime], 5)}</em></blockquote>

                            <div style="clear:both;margin-bottom:30px;border-bottom: 1px dashed #e6e6e6;"></div>
                                </div>
                            {/loop}


                        </div><!-- row -->
                        {else}
                        {php $table = $DT_PRE.'article_24';}
                        {php $table_data = $DT_PRE.'article_data_24';}
                        {php $item = $db->get_one("SELECT * FROM ".$table." WHERE itemid=".$itemid);}
                        {php $content_table = content_table(24, $itemid, 0, $table_data);}
                        {php $t = $db->get_one("SELECT content FROM ".$content_table." WHERE itemid=$itemid");}
                        <h3>{$item[title]} <a href="{userurl($username, 'um=blog', $domain)}" class="small">日志列表</a></h3>
                        <p>
                            {$t[content]}
                        </p>
                        <blockquote class="pull-right"><em>发表于{timetodate($t[edittime], 5)}</em></blockquote>
                        {/if}

                    </div><!-- /Tab Portfolio -->
                    {/if}

                    {if $um=='album'}
                    <!-- ===== Fourth Tab ===== -->
                    <div class="tab-pane active" id="album">
                        <h4>我的相册 {if $_userid==$userid}<a href="javascript:;" class="update_album small">添加照片</a>{/if}</h4>
                        <hr>
                        <div class="row">

                            {php $_tags=tag("moduleid=25&condition=username='".$username."'&pagesize=1000&template=null");}
                            {loop $_tags $k $t}

                           <a href="javascript:;" name="{$t[itemid]}"> <div class="col-xs-6">
                                <img class="img-responsive" src="{$t[thumb]}" alt="{$t[title]}">
                                <h6><i class="icon-link"></i> {$t[title]}</h6>
                            </div><!-- col-xs-6 -->
                               </a>
                            {/loop}

                        </div><!-- row -->

                    </div><!-- Tab Contact -->
                    {/if}

                </div><!-- Tab Content -->
            </div><!-- col-md-8 -->
        </div><!-- row w -->
    </div><!-- col-lg-6 -->
    <div class="margin-top-50"></div>
</div><!-- /.container -->

<br/>
<br/><br/><br/><br/><br/><br/>
{template 'footer', 'user'}
<script>
    $(function(){
        {if $_userid==$userid && !$member['avatar'] }

            layer.alert('请完善个人信息, 上传头像',9,function(index){
                $("#update_avatar").click();
            });
         {/if}

         {if $_userid==$userid && (!$member['weddate'] || !$member['qq'] || empty($wed_cats))}
             layer.alert('请完善个人信息,填写结婚日期、所需服务与QQ号', 9,function(index){
                 $(".update_profile").click();
             });
          {/if}
    });

</script>