
    <div class="col-md-3 menu-left">
        <div class="text-center">
            <a href="{userurl($username, '', $domain)}"><img class="img-responsive center-block img-circle" src="{useravatar($username, 'large')}" alt="{$username}"></a>
            {if $member[truename]}<h3>{$member[truename]}</h3>{/if}
            <p><a href="{userurl($username, '', $domain)}">{$member[username]}</a></p>

        </div>
        <hr>
        <nav class="categories">
            <ul>
                <!--<li><a href="#">个人信息</a></li>
                <li><a href="#">我的日志</a></li>
                <li><a href="#">我的相册</a></li>-->
                <li><a href="{userurl($username, '', $domain)}">个人首页</a>
                    {if $_userid==$userid}
                <li><a href="{userurl($username, 'action=avatar', $domain)}">更换头像</a>
                <li><a href="{userurl($username, 'action=password', $domain)}">密码管理</a>{/if}</li>
            </ul>
        </nav>
    </div>

