{template 'top_shop'}
<div id="content">
<!--主体-->
<div class="layout clearfix">
  <!--分类和焦点图-->
  <div id="pinla_shopindex_sortbox">
    <!-- 分类开始-->
    <div class="pinla_shopindex_sorttitle"> <strong>商场分类</strong> </div>
    <div class="pinla_shopindex_sortbg">
      <ul class="sortlist">
       <!--{tag("moduleid=4&table=category&condition=parentid>0 and moduleid=4&pagesize=20&template=comp_sort_shop")}-->

      </ul>
    </div>
    <div class="pinla_shopindex_sortbt"></div>
  </div>
  <!-- 分类开始end-->
  <div id="mall-focus">
    <!--焦点图-->
    <ul class="imgbox">
                  <li style="position: absolute;left:0px;top:0px;opacity:0;z-index:0;"><a id="__ad__scone__570" name="__ad__scone__570" target="" href="http://www.hezejiehun.com"><img style="border:medium none;width:748px;height:247px;" alt="一站式完美婚礼" src="http://www.hezejiehun.com/skin/default/img/ailen01.jpg"></a></li>
                <li style="opacity:1;z-index:1;position:absolute;left:0px; top:0px;"><a id="__ad__sctwo__567" name="__ad__sctwo__567" target="" href="http://www.hezejiehun.com"><img style="border:medium none; width:748px;height:247px;" alt="婚嫁企业展示" src="http://www.hezejiehun.com/skin/default/img/ailen02.jpg"></a></li>
                <li style="opacity:0;z-index:0;position:absolute;left:0px;top:0px;"><a id="__ad__scthree__568" name="__ad__scthree__568" target="" href="http://www.hezejiehun.com"><img style="border:medium none; width:748px;height:247px;" alt="加入艾伦收获体验" src="http://www.hezejiehun.com/skin/default/img/ailen03.jpg"></a></li>
                <li style="opacity:0;z-index:0;position:absolute;left:0px;top:0px;"><a id="__ad__scfour__569" name="__ad__scfour__569" target="" href="http://www.hezejiehun.com"><img style="border: medium none;width:748px;height:247px;" alt="婚嫁类合作招商" src="http://www.hezejiehun.com/skin/default/img/ailen04.jpg"></a></li>
    </ul>
    <ul class="numBox">
      <li class="pptOn"><a href="http://www.hezejiehun.com" target="_blank">一站式完美婚礼</a></li>
                <li class=""><a href="http://www.hezejiehun.com" target="_blank">婚嫁企业展示</a></li>
                <li class=""><a href="http://www.hezejiehun.com" target="_blank">加入艾伦收获体验</a></li>
                <li class=""><a href="http://www.hezejiehun.com" target="_blank">婚嫁类合作招商</a></li>
    </ul>
  </div>
  <!--焦点图end-->
</div>
<!--分类和焦点图end-->

<!--消费保障end-->
{if false}
<div class="layout">
  <!--婚纱影楼-->
  <div class="mall-cont-title mall-f8title">
    <!--title-->
    <h2>婚纱影楼推荐商家</h2>
  </div>
  <!--title-end-->
  <div class="mall-cont">
    <!--内容-->
    <!--{tag("moduleid=5&table=company&condition=catid=',243,'&level=2&pagesize=1&template=hsyltujiashangjia")}-->
  </div>
  <!--内容end-->
</div>
<!--婚纱影楼end-->
{/if}
<div class="layout">
  <!--婚纱影楼-->
  <div class="mall-cont-title ">
    <!--title-->
    <em class="fnum">1F</em>
    <h2>婚纱影楼</h2>
    <div class="mall-brand">
      <!--品牌商家-->
      <label>品牌商家：</label>
      <span>  </span> </div>
    <!--品牌商家end-->
    <a href="/company/list.php?catid=243" target="_blank" class="more">更多>></a> </div>
  <!--title-end-->
  <div class="mall-cont">
    <!--内容-->
    <ul class="mall-piclist clearfix">
      <!--{tag("moduleid=5&table=sell&condition=level=2&catid=153&pagesize=4&&template=hsyltuijian-2")}-->
    </ul>
  </div>
  <!--内容end-->
</div>
<!--婚纱影楼end-->
<div style="margin-top:10px">
  
</div>
{if false}
<div class="layout">
  <!--婚纱影楼-->
  <div class="mall-cont-title mall-f8title">
    <!--title-->
    <h2>摄影工作室推荐商家</h2>
  </div>
  <!--title-end-->
  <div class="mall-cont">
    <!--内容-->
    <!--{tag("moduleid=5&table=company&condition=catid=',244,'&level=2&pagesize=1&template=hsyltujiashangjia")}-->
  </div>
  <!--内容end-->
</div>
{/if}
<!--婚纱影楼end-->
<div class="layout">
  <!--摄影工作室-->
  <div class="mall-cont-title mall-f2title">
    <!--title-->
    <em class="fnum">2F</em>
    <h2>摄影工作室</h2>
    <div class="mall-brand">
      <!--品牌商家-->
      <label>品牌商家：</label>
      <span>  </span> </div>
    <!--品牌商家end-->
    <a href="/company/list.php?catid=244" target="_blank" class="more">更多>></a> </div>
  <!--title-end-->
  <div class="mall-cont">
    <!--内容-->
    <ul class="mall-piclist clearfix">
      <!--{tag("moduleid=5&table=sell&condition=level=2&catid=154,171,173,172,174,175,176&pagesize=4&&template=hsyltuijian-2")}-->
    </ul>
  </div>
  <!--内容end-->
</div>
<!--摄影工作室end-->
<div style="margin-top:10px">
 
</div>
<div class="layout">
  <!--钻石珠宝-->
  <div class="mall-cont-title mall-f3title">
    <!--title-->
    <em class="fnum">3F</em>
    <h2>钻石珠宝</h2>
    <div class="mall-brand">
      <!--品牌商家-->
      <label>品牌商家：</label>
      <span> </span> </div>
    <!--品牌商家end-->
    <a href="/company/list.php?catid=245" target="_blank" class="more">更多>></a> </div>
  <!--title-end-->
  <div class="mall-cont">
    <!--内容-->
	<ul class="mall-piclist clearfix">
    <!--{tag("moduleid=5&table=sell&condition=level=2&catid=159,206,207,208,209,210,211&pagesize=4&template=hsyltuijian-2")}-->
	</ul>
  </div>
  <!--内容end-->
</div>
<!--钻石珠宝end-->
<div style="margin-top:10px"> </div>
<div class="layout">
  <!--婚纱礼服-->
  <div class="mall-cont-title mall-f4title">
    <!--title-->
    <em class="fnum">4F</em>
    <h2>婚纱礼服</h2>
    <div class="mall-brand">
      <!--品牌商家-->
      <label>品牌商家：</label>
      <span> </span> </div>
    <!--品牌商家end-->
    <a href="/company/list.php?catid=237" target="_blank" class="more">更多>></a> </div>
  <!--title-end-->
  <div class="mall-cont">
    <!--内容-->
    <ul class="mall-piclist clearfix">
      <!--{tag("moduleid=5&table=sell&condition=level=2&catid=157,191,192,193,194,195,196,197,370&pagesize=4&template=hsyltuijian-2")}-->	  
    </ul>
  </div>
  <!--内容end-->
</div>
<!--婚纱礼服end-->
<div style="margin-top:10px"> </div>
<div class="layout">
  <!--喜宴酒店-->
  <div class="mall-cont-title mall-f5title">
    <!--title-->
    <em class="fnum">5F</em>
    <h2>喜宴酒店</h2>
    <div class="mall-brand">
      <!--品牌商家-->
      <label>品牌商家：</label>
      <span> </span> </div>
    <!--品牌商家end-->
    <a href="/company/list.php?catid=253" target="_blank" class="more">更多>></a> </div>
  <!--title-end-->
  <div class="mall-cont">
    <!--内容-->
    <ul class="mall-piclist clearfix">
      
    </ul>
  </div>
  <!--内容end-->
</div>
<!--喜宴酒店end-->
<div style="margin-top:10px"> </div>
<div class="layout">
  <!--婚庆服务-->
  <div class="mall-cont-title mall-f6title">
    <!--title-->
    <em class="fnum">6F</em>
    <h2>婚庆服务</h2>
    <div class="mall-brand">
      <!--品牌商家-->
      <label>品牌商家：</label>
      <span>  </span> </div>
    <!--品牌商家end-->
    <a href="/company/list.php?catid=249" target="_blank" class="more">更多>></a> </div>
  <!--title-end-->
  <div class="mall-cont">
    <!--内容-->
	<ul class="mall-piclist clearfix">
    <!--{tag("moduleid=5&table=sell&condition=level=2&catid=155,156,177,178,179,180,181,182,183,184,369&pagesize=4&&template=hsyltuijian-2")}-->
	 </ul>
  </div>
  <!--内容end-->
</div>
<!--婚庆服务end-->
<div style="margin-top:10px"> </div>
<div class="layout">
<!--结婚百货-->
<div class="mall-cont-title mall-f7title">
  <!--title-->
  <em class="fnum">7F</em>
  <h2>结婚百货</h2>
  <div class="mall-brand">
    <!--品牌商家-->
    <label>品牌商家：</label>
    <span> </span> </div>
  <!--品牌商家end-->
  <a href="/company/list.php?catid=246" target="_blank" class="more">更多>></a> </div>
<!--title-end-->
<div class="mall-cont">
<!--内容-->
<ul class="mall-piclist clearfix">
<!--{tag("moduleid=5&table=sell&condition=level=2&catid=162,163,164,221,222,223,224,225,226,396,227,228,229,230,231,232,233,234,235,236&pagesize=4&&template=hsyltuijian-2")}-->
 </ul>
</div>
<!--内容end-->
</div>
<!--结婚百货end-->
<div style="margin-top:10px"> </div>
<div class="layout">
  <!--商品分类-->
  <div class="mall-cont-title mall-sorttitle">
    <!--title-->
    <h2>商品分类</h2>
    <a href="{DT_PATH}sell/" class="more">更多>></a> </div>
  <!--title-end-->
  <div class="mall-cont">
    <!--内容-->
    {php $mid = 5;}{template 'catalog_product', 'chip'}
    <ul class="mall-sortlist clearfix">
    </ul>
  </div>
  <!--内容end-->
</div>
<!--商品分类end-->
{template 'footer'}