{template 'header'}


<div class="container margin-top-15">
    <div class="sixteen columns">
        <!-- Tabs Navigation -->
        <ul class="tabs-nav">

            <li{if !$catid} class="active"{/if}><a href="{$MOD[linkurl]}search.php?areaid={$areaid}">所有分类</a></li>
            {php $child = get_maincat(0, $moduleid, 1);}
            {loop $child $i $c}
            <li {if $catid==$c[catid]} class="active"{/if}><a href="{$MODULE[$mid][linkurl]}search.php?catid={$c[catid]}&areaid={$areaid}" title="{$c[catname]}">{$c[catname]}</a></li>
            {/loop}
        </ul>

        <ul class="tabs-nav">

            <li{if !$areaid} class="active"{/if}><a href="{$MOD[linkurl]}search.php?catid={$catid}">所有地区</a></li>
            {php $mainarea = get_mainarea(0)}
            {loop $mainarea $k $v}
            <li{if $areaid==$v[areaid]} class="active"{/if}><a href="{$MOD[linkurl]}search.php?catid={$catid}&areaid={$v[areaid]}" title="{$v[areaname]}">{$v[areaname]}</a></li>
            {/loop}
        </ul>
    </div>

</div>


<div class="margin-top-50"></div>

<!-- Content
================================================== -->

<!-- Container -->
<div class="container">

    {if !$tags}
    <div class="notification error closeable">
        <p><span>没有查询到相关信息</span></p>
        <a class="close"></a>
    </div>
    <div class="clearfix"></div>
    <div class="margin-top-50"></div>
    {/if}

    <!-- Portfolio Wrapper-->
    <div id="portfolio-wrapper">



        {loop $tags $k $t}

        <!-- Portfolio Item -->
        <div class="four columns portfolio-item clothing others">
            <figure>
                <div class="portfolio-holder">
                    <a href="{$t[linkurl]}" title="{$t[company]}">
                        <img alt="{$t[company]}" src="{$t[thumb]}"/>
                        <div class="hover-cover"></div>
                    </a>
                </div>

                <section class="item-description">
                    <h5><a href="{$t[linkurl]}" title="{$t[company]}">{$t[company]}</a></h5>

                    {php $announce  = company_setting($t[userid], 'announce');}
                    {if $announce}
                    <span class="hidden-xs">{dsubstr($announce, 80, '...')}</span>
                    <span class="visible-xs-block">{$announce}</span>
                    {else}
                    <span>主营：{if $t[business]}{$t[business]}{else}{$c[catname]}{/if}</span>
                    {/if}
                </section>

            </figure>
        </div>
        {/loop}


    </div>
    <!-- Portfolio Wrapper / End -->

    <div class="clearfix"></div>


    <!-- Pagination -->
    <div class="pagination-container masonry">
        <nav class="pagination">
        {if $showpage && $pages}{$pages}{/if}
        </nav>
       <!-- <nav class="pagination">
            <ul>
                <li><a href="shop-full-width.html#" class="current-page">1</a></li>
                <li><a href="shop-full-width.html#">2</a></li>
                <li><a href="shop-full-width.html#">3</a></li>
            </ul>
        </nav>

        <nav class="pagination-next-prev full-width">
            <ul>
                <li><a href="shop-full-width.html#" class="prev"></a></li>
                <li><a href="shop-full-width.html#" class="next"></a></li>
            </ul>
        </nav>-->
    </div>

</div>

<div class="margin-top-15"></div>


{template 'footer'}








