<div class="s_type_r">
    <div class="mar_15">

    </div>
    <div class="mar_15"></div>
    <ul>
        <h5>最新商家优惠</h5>

        {php $tags=tag("moduleid=5&pagesize=10&order=addtime desc&template=list-news-li")}

        <a href="{DT_PATH}sell/" class="more" target="_blank">更多优惠信息</a>
    </ul>
    <ul>
        <h5>最新VIP</h5>

        {php $tags=tag("moduleid=4&table=company&pagesize=10&condition=vip>1&order=validtime desc&template=list-news-li-area")}

        <a href="search.php?vip=1" target="_blank" class="more">更多VIP商家</a>
    </ul>

    <ul>
        <h5>最新加盟商家</h5>

        {php $tags=tag("table=company&condition=groupid>5&pagesize=10&order=fromtime desc&template=list-news-li-area")}

        <a href="search.php" class="more" target="_blank">更多最新加盟</a>
    </ul>

    <ul>
        <h5>最新加盟会员</h5>

        {php $tags=tag("table=company&condition=groupid=5&pagesize=10&order=fromtime desc&template=list-news-li-area")}

    </ul>
</div>