{template 'header'}
<link rel="stylesheet" type="text/css" href="{DT_SKIN}wed_art.css" media="screen" />
<div class="wrap pic_img">

</div>
<div class="wrap wrap_b">
    <ul class="artPicF">
        <li><img src="http://www.ailen.cn/file/upload/201308/24/11-28-34-39-1.jpg" width="225" height="180" alt=""/></li>
        <li><img src="http://www.ailen.cn/file/upload/201308/24/11-29-24-31-1.jpg" width="225" height="180" alt=""/></li>
        <li><img src="http://www.ailen.cn/file/upload/201308/24/11-34-35-22-1.jpg" width="225" height="180" alt=""/></li>
        <li><img src="http://www.ailen.cn/file/upload/201308/24/11-39-10-33-1.jpg" width="225" height="180" alt=""/></li>
        <div class="clearfix"></div>
    </ul>
    <ul class="artPicT">
        <li><a href="/special/show.php?itemid=23" target="_blank" title="挑选婚庆公司技巧">如何找婚庆</a></li>
        <li><a href="/special/" target="_blank" title="挑选婚纱影楼技巧">如何挑影楼</a></li>
        <li><a href="/special/" target="_blank" title="挑选婚宴酒店技巧">如何选酒店</a></li>
        <li><a href="/special/" target="_blank" title="挑选婚礼用车技巧">如何定婚车</a></li>
        <li><a href="/special/" target="_blank" title="婚房装修技巧">简约装修</a></li>
        <li style="border-right:none"><a href="/special/" target="_blank" title="家居风水">家居风水</a></li>
        <div class="clearfix"></div>
    </ul>
    <div style="height:15px;"></div>
</div>
<h3><span class="title">婚礼攻略</span><span class="info">去学习，结婚也有武功秘籍……</span><span class="right">【<a href="/company/" target="_blank" title="沈阳结婚商家展示">浏览婚嫁商户</a>】【<a href="/sell/" target="_blank" title="沈阳婚礼优惠活动">结婚优惠活动</a>】</span></h3>
<div class="wrap">
    <ul class="artLei">
        <li class="tit"><a href="/special/list.php?catid=445" target="_blank">准备结婚</a></li>
        <li><a href="/news/list.php?catid=148" target="_blank">怎么求婚</a></li>
        <li><a href="/special/show.php?itemid=1" target="_blank">怎么订婚</a></li>
        <li><a href="/news/list.php?catid=34" target="_blank">确定婚期</a></li>
        <li><a href="/news/list.php?catid=143" target="_blank">结婚习俗</a></li>
        <li><a href="/news/list.php?catid=36" target="_blank">婚前财产</a></li>
        <li class="tit"><a href="/special/list.php?catid=446" target="_blank">婚前六个月</a></li>
        <li><a href="/news/list.php?catid=32" target="_blank">结婚登记</a></li>
        <li><a href="/news/list.php?catid=33" target="_blank">婚检</a></li>
        <li><a href="/news/list.php?catid=37" target="_blank">预订婚宴酒店</a></li>
        <li><a href="/news/list.php?catid=75" target="_blank">确定婚宴形式</a></li>
        <li><a href="/news/list.php?catid=38" target="_blank">拍婚纱照</a></li>
        <li class="tit"><a href="/special/list.php?catid=447" target="_blank">婚前三个月</a></li>
        <li><a href="/special/show.php?itemid=23" target="_blank">找婚庆公司</a></li>
        <li><a href="/special/show.php?itemid=22" target="_blank">新娘美容美体</a></li>
        <li><a href="/special/show.php?itemid=21" target="_blank">买钻戒</a></li>
        <li><a href="/special/show.php?itemid=20" target="_blank">确定婚礼跟拍</a></li>
        <li><a href="/special/show.php?itemid=19" target="_blank">确定婚礼跟妆</a></li>
        <li><a href="/special/show.php?itemid=18" target="_blank">确定婚礼司仪</a></li>
        <li><a href="/special/show.php?itemid=17" target="_blank">伴娘伴郎花童</a></li>
        <li><a href="/special/show.php?itemid=16" target="_blank">蜜月前准备</a></li>
        <li class="tit"><a href="/special/list.php?catid=448" target="_blank">婚前一个月</a></li>
        <li><a href="/special/show.php?itemid=15" target="_blank">新娘紧急美容</a></li>
        <li><a href="/special/show.php?itemid=14" target="_blank">结婚用品选购</a></li>
        <li><a href="/special/show.php?itemid=13" target="_blank">请婚假</a></li>
        <li><a href="/special/show.php?itemid=12" target="_blank">确定婚礼细节</a></li>
        <li><a href="/special/show.php?itemid=11" target="_blank">结婚贺词</a></li>
        <li><a href="/special/show.php?itemid=3" target="_blank">婚礼游戏</a></li>
        <li class="tit"><a href="/special/list.php?catid=449" target="_blank">婚前一周</a></li>
        <li><a href="/special/show.php?itemid=10" target="_blank">婚礼当天流程</a></li>
        <li><a href="/special/show.php?itemid=9" target="_blank">婚宴致词准备</a></li>
        <li><a href="/special/show.php?itemid=8" target="_blank">确定新娘装扮</a></li>
    </ul>
    <ul class="artTextHot">
        <li>
            <a href="/special/list.php?catid=445" target="_blank" class="title">结婚准备——新人婚礼筹备</a>
            <a href="/special/list.php?catid=445" target="_blank" class="info">结婚是人生头等大事，要想迈进婚礼的殿堂，需要准备的事情很多，譬如求婚、订婚，又或者诸如结婚吉日的选定等。在这里，我们将告诉那些准备结婚的年轻人怎么求婚，怎么订婚，让他们了解相关的结婚习俗……</a>
            <i class="pic"><img src="http://www.ailen.cn/file/upload/201308/24/10-44-40-40-1.jpg" width="120" height="120" alt="结婚准备"/></i>
            <a href="/special/list.php?catid=445" target="_blank" class="like">70746</a>
            <div class="clearfix"></div>
        </li>
        <li>
            <a href="/special/list.php?catid=446" target="_blank" class="title">婚前六个月——新人婚礼筹备</a>
            <a href="/special/list.php?catid=446" target="_blank" class="info">婚礼前六个月基本已经开始进行相关婚礼筹备工作了。我们想告诉你的是在婚前六个月务必处理以下事情：搞定结婚登记、了解婚检内容、预订婚宴酒店、确定婚礼形式，最后就是尽力把你的婚纱照落实……</a>
            <i class="pic"><img src="http://www.ailen.cn/file/upload/201308/24/10-55-04-67-1.jpg" width="120" height="120" alt="婚礼筹备,婚前6个月"/></i>
            <a href="/special/list.php?catid=446" target="_blank" class="like">59841</a>
            <div class="clearfix"></div>
        </li>
        <li>
            <a href="/special/list.php?catid=447" target="_blank" class="title">婚前三个月——新人婚礼筹备</a>
            <a href="/special/list.php?catid=447" target="_blank" class="info">婚礼前三个月肯定是新人们最忙碌的时刻，很多结婚筹备大项将在这个阶段解决。比如你们的结婚戒指，你们的婚庆公司，跟拍和跟妆,司仪婚车等等，包括新娘子的一些美容美体护理等……</a>
            <i class="pic"><img src="http://www.ailen.cn/file/upload/201308/24/10-50-10-62-1.jpg" width="120" height="120" alt="婚前3个月"/></i>
            <a href="/special/list.php?catid=447" target="_blank" class="like">64579</a>
            <div class="clearfix"></div>
        </li>
        <li>
            <a href="/special/list.php?catid=448" target="_blank" class="title">婚前一个月——新人婚礼筹备</a>
            <a href="/special/list.php?catid=448" target="_blank" class="info">婚前一个月基本属于婚礼细节的确认和完善阶段，除了婚庆方面需要确认婚礼细节外，新人还需确认结婚用品，我们为爱美的新娘子准备了紧急美容方案，提醒新人，婚假提前一个月请合理……</a>
            <i class="pic"><img src="http://www.ailen.cn/file/upload/201308/24/10-48-28-52-1.jpg" width="120" height="120" alt="婚前1个月"/></i>
            <a href="/special/list.php?catid=448" target="_blank" class="like">93576</a>
            <div class="clearfix"></div>
        </li>
        <li>
            <a href="/special/list.php?catid=449" target="_blank" class="title">婚前一周——新人婚礼筹备</a>
            <a href="/special/list.php?catid=449" target="_blank" class="info">婚前一周还能做什么？其实这个时间段保持良好的心态最重要，请务必克服掉婚前恐惧症。在这最后一周，新人的注意力应该要集中到婚礼当天的一些具体事宜了，比如婚礼当天的流程等……</a>
            <i class="pic"><img src="http://www.ailen.cn/file/upload/201308/24/10-40-32-27-1.jpg" width="120" height="120" alt="新人婚礼筹备"/></i>
            <a href="/special/list.php?catid=449" target="_blank" class="like">58486</a>
            <div class="clearfix"></div>
        </li>
        <li>
            <a href="/special/show.php?itemid=6" target="_blank" class="title">婚后蜜月——新人婚礼筹备</a>
            <a href="/special/show.php?itemid=6" target="_blank" class="info">忙碌了这么多天，没有理由不让自己放松下来。我们提倡更多的新人在婚后能有一段温馨浪漫的蜜月生活，当然，需要量力而行，不宜攀比或盲目跟风……</a>
            <i class="pic"><img src="http://www.ailen.cn/file/upload/201308/24/10-34-12-74-1.jpg" width="120" height="120" alt="婚后蜜月"/></i>
            <a href="/special/show.php?itemid=6" target="_blank" class="like">56461</a>
            <div class="clearfix"></div>
        </li>
    </ul>

    <div class="artRightTag">
        <div class="wed_google">
            <script type="text/javascript">
                /*300*250，创建于2013-8-30*/
                var cpro_id = "u1357911";
            </script>
            <script src="http://cpro.baidustatic.com/cpro/ui/c.js" type="text/javascript"></script>
        </div>
        <div class="artRClass">
            <a href="http://www.ailen.cn/news/list.php?catid=31">结婚登记</a>
            <a href="http://www.ailen.cn/news/list.php?catid=37">婚宴酒店</a>
            <a href="http://www.ailen.cn/news/list.php?catid=38">婚纱摄影</a>
            <a href="http://www.ailen.cn/news/list.php?catid=39">婚庆服务</a>
            <a href="http://www.ailen.cn/news/list.php?catid=40">婚纱礼服</a>
            <a href="http://www.ailen.cn/news/list.php?catid=41">结婚首饰</a>
            <a href="http://www.ailen.cn/news/list.php?catid=42">彩妆造型</a>
            <a href="http://www.ailen.cn/news/list.php?catid=43">婚礼百货</a>
            <a href="http://www.ailen.cn/news/list.php?catid=44">婚前美容</a>
            <a href="http://www.ailen.cn/news/list.php?catid=45">蜜月旅行</a>
            <a href="http://www.ailen.cn/news/list.php?catid=46">结婚相关</a>
            <a href="http://www.ailen.cn/news/list.php?catid=432">微信推送</a>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

<!--主体内容end-->
{template 'footer'}