{template 'header', $template}

{if $could_comment && in_array($moduleid, explode(',', get_module_setting(3, 'comment_module')))}
<div d="comment_div" class="container box margin-top-15">
	<div class="main_head"><div><span class="f_r px12">共<span id="comment_count">0</span>条&nbsp;&nbsp;</span><strong><span id="message_title">{$MENU[$menuid][name]}</span></strong></div></div>
	<div class="row">
		<iframe src="{$MODULE[3][linkurl]}comment.php?mid={$moduleid}&itemid={$COM[userid]}" id="destoon_comment" style="width:100%;" scrolling="no" frameborder="0"></iframe>
	</div>
</div>
{/if}

{template 'footer', $template}