{template 'header', $template}
<div class="dsn" id="pos_show">您当前的位置：<a href="{$COM[linkurl]}">首页</a> &raquo; <a href="{$MENU[$menuid][linkurl]}">{$MENU[$menuid][name]}</a>{if $itemid} &raquo; {$title}{/if}</div>

<div class="container box margin-top-15">
{if $itemid}

<div class="head"><div><strong>优惠活动</strong></div></div>
<div class="row">



	<h1 class="text-center">{$title}</h1>
	<p class="text-center">活动截止时间:<b class="text-warning">{$endtime}</b>  此信息已被浏览{$hits}次<p>
	<div class="content" id="content">{$content}</div>


</div>


{else}


<div class="head">
	<div>
<span class="f_r f_n px12">
</span>
		<strong>{$MENU[$menuid][name]}</strong>
	</div>
</div>
<div class="row">

	{loop $lists $k $t}
	<div class="col-md-4">
		<div class="item">
			<a href="{if $homeurl}{$t[linkurl]}{else}{userurl($username, 'file='.$module.'&itemid='.$t['itemid'], $domain)}{/if}"><img src="{imgurl($t[thumb], 1)}" width="300" height="200" alt="{$t[alt]}"/></a>
			<div><a href="{if $homeurl}{$t[linkurl]}{else}{userurl($username, 'file='.$module.'&itemid='.$t['itemid'], $domain)}{/if}" title="{$t[alt]}">{$t[title]}</a>
				<p>活动结束时间:{$t[endtime]}</p>
			</div>
		</div>
	</div>
	{/loop}

	<div class="clearfix"></div>
	<div class="pages">{$pages}</div>
</div>
{/if}
</div>
{template 'footer', $template}