{template 'header', $template}
{if $itemid}
<div class="main_head"><div><strong>精品特价</strong></div></div>
<div class="main_body">



	<h1 class="text-center">{$title}</h1>
	<p class="text-center">优惠价:<b class="text-warning">{$price}</b> <del>门店价:{$marketprice}</del>  此信息已被浏览{$hits}次<p>
	<div class="content" id="content">{$content}</div>


	</div>
{else}
<div class="main_head">
<div>
<span class="f_r f_n px12">
</span>
<strong>{$MENU[$menuid][name]}</strong>
</div>
</div>
<div class="main_body row">

	{loop $lists $k $t}
	<div class="col-md-4">
		<div class="item">
			<a href="{if $homeurl}{$t[linkurl]}{else}{userurl($username, 'file=sell&itemid='.$t['itemid'], $domain)}{/if}"><img src="{imgurl($t[thumb], 1)}" width="300" height="200" alt="{$t[alt]}"/></a>
			<div><a href="{if $homeurl}{$t[linkurl]}{else}{userurl($username, 'file=sell&itemid='.$t['itemid'], $domain)}{/if}" title="{$t[alt]}">{$t[title]}</a>
				<p>优惠价:<b>{$t[price]}</b> <del>门店价:{$t[marketprice]}</del></p>
			</div>
		</div>
	</div>
	{/loop}

<div class="clearfix"></div>
	<div class="pages">{$pages}</div>
</div>

<script type="text/javascript">
try {Dd('type_{$typeid}').innerHTML = '<strong>'+Dd('name_{$typeid}').innerHTML+'</strong>';}catch (e){}
</script>
{/if}
{template 'footer', $template}