<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;charset={DT_CHARSET}"/>
<title>{if $head_title}{$head_title}{$DT[seo_delimiter]}{/if}商务中心{$DT[seo_delimiter]}{if $city_sitename}{$city_sitename}{else}{$DT[sitename]}{/if}{$DT[seo_delimiter]}Powered By DESTOON B2B</title>
<meta name="robots" content="nofollow"/>

<meta http-equiv="x-ua-compatible" content="IE=7"/>
<link rel="shortcut icon" href="{DT_STATIC}favicon.ico"/>
<link rel="bookmark" href="{DT_STATIC}favicon.ico"/>
<link rel="stylesheet" type="text/css" href="{DT_STATIC}{$MODULE[2][moduledir]}/image/style.css"/>
<!--[if lte IE 6]>
<link rel="stylesheet" type="text/css" href="{DT_SKIN}ie6.css"/>
<![endif]-->
<!--[if IE]>
<style type="text/css">
.head_user em {margin:-4px 0 0 -4px;}
#profile {margin:20px 0 0 -140px;}
</style>
<![endif]-->
{if !DT_DEBUG}<script type="text/javascript">window.onerror= function(){return true;}</script>{/if}
<script type="text/javascript" src="{DT_STATIC}lang/{DT_LANG}/lang.js"></script>
<script type="text/javascript" src="{DT_STATIC}file/script/config.js"></script>
<script type="text/javascript" src="{DT_STATIC}file/script/jquery.js"></script>
<script type="text/javascript" src="{DT_STATIC}file/script/common.js"></script>
<script type="text/javascript" src="{DT_STATIC}file/script/admin.js"></script>
<script type="text/javascript" src="{DT_STATIC}file/script/member.js"></script>
<!--[以上为系统关键代码，请勿删除]-->
</head>
<body>
{if !$user_frame}
<div id="msgbox" style="display:none;"></div>
{dmsg()}
<div class="head" id="head">
	<div class="head_m">
		<div class="head_logo"><a href="./">商务中心</a><br />菏泽结婚网</div>
		<div class="head_main">
		<ul>
		{if $_userid}
		<li class="menu_1" id="menu_0" onclick="c(0);">商铺管理</li>
		<li class="menu_2" id="menu_1" onclick="c(1);">信息管理</li>
		{/if}
		</ul>
		</div>
		<div class="head_user">
			{if $_userid}
			<ul>
			<li onmouseover="Ds('profile');" onmouseout="Dh('profile');"><a href="avatar.php"><img src="{useravatar($_username, 'small')}" width="20" height="20" id="myavatar"/></a>
			<div id="profile" style="display:none;">
			<div>
			<dl>
			<dt><span class="f_r"><a href="edit.php"><img src="{DT_STATIC}{$MODULE[2][moduledir]}/image/setting.gif" width="10" height="10" align="absmiddle" title="资料设置"/></a></span>欢迎，<span class="f_black" title="{$_username}">{$_truename}</span> (<a href="line.php" title="{if $_online}点击隐身{else}点击上线{/if}">{if $_online}<span class="f_green">在线</span>{else}<span class="f_gray">隐身</span>{/if}</a>)</dt>
			<dt><a href="{userurl($_username)}" target="_blank" title="{$_company}"><span class="f_black">{$_company}</span></a></dt>
			<dt><a href="record.php"><span class="f_black">{$DT[money_name]}({$_money})</span></a> <span class="f_gray">|</span> 
			<a href="credit.php"><span class="f_black">{$DT[credit_name]}({$_credit})</span></a></dt>
			</dl>
			</div>
			</div>
			</li>
			<li id="destoon_message"><a href="message.php">消息</a>{if $_message}<em>{$_message}</em>{/if}</li>
			{if $DT[im_web] && $DT[chat]}<li id="destoon_chat"><a href="chat.php">对话</a>{if $_chat}<em>{$_chat}</em>{/if}</li>{/if}
			<li><a href="logout.php?forward=">退出</a></li>
			{if $admin_user}<li><a href="index.php?action=logout">注销授权</a></li>{/if}
				{if $is_company}<li><a href="{userurl($_username)}" target="_blank">商家主页</a></li>{/if}
				<li><a href="{DT_PATH}" target="_blank">网站首页</a></li>
			</ul>
			{else}
			<a href="{$DT[file_login]}">立即登录</a> |
			<a href="{$DT[file_register]}">注册会员</a>
			<a href="{DT_PATH}">注册会员</a>
			{/if}		
		</div>
		<div class="c_b"></div>
	</div>
</div>
<div class="head_s" id="destoon_space">&nbsp;</div>
{/if}
<div class="main_tb">
<table cellpadding="0" cellspacing="0" width="100%">
<tr>
	{if !$user_frame}
<td valign="top" class="side" id="side">
<div id="sub_0" style="display:{if $_userid || $_groupid != 4}{else}none{/if}">
{if $_userid || $show_menu}
	<div class="side_head" id="h_0"><div>会员服务</div></div>
	<div class="side_body" id="b_0">
		<ul>


			{if $MG[homepage] || $show_menu}
			<li class="side_a" onmouseover="v(this.id);" onmouseout="t(this.id);" id="homepage"><span class="f_r"><a href="{DT_PATH}index.php?homepage={$_username}&update=1" class="m" target="_blank">预览</a></span><a href="home.php" class="{if $MG[homepage]}n{else}f{/if}">商铺设置</a></li>
			{/if}
			{if $_groupid != 4}
			<li class="side_a" onmouseover="v(this.id);" onmouseout="t(this.id);" id="edit"><span class="f_r"><a href="avatar.php" class="m">头像</a></span><a href="edit.php" class="{if $_userid}n{else}f{/if}">修改资料</a></li>
			{/if}
			<!--
			{if $MG[spread] || $show_menu}
			<li class="side_a" onmouseover="v(this.id);" onmouseout="t(this.id);" id="spread"><span class="f_r"><a href="spread.php?action=add" class="m">购买</a></span><a href="spread.php" class="{if $MG[spread]}n{else}f{/if}">排名推广</a></li>
			{/if}
			{if $MG[ad] || $show_menu}
			<li class="side_a" onmouseover="v(this.id);" onmouseout="t(this.id);" id="ad"><span class="f_r"><a href="ad.php?action=add" class="m">购买</a></span><a href="ad.php" class="{if $MG[ad]}n{else}f{/if}">广告预定</a></li>
			{/if}
			-->

			{if $_groupid > 5 }
            <li class="side_a" onmouseover="v(this.id);" onmouseout="t(this.id);" id="invite_customer"><span class="f_r"><a href="invite_customer.php?action=add" class="m">添加</a></span><a href="invite_customer.php" class="{if $_userid}n{else}f{/if}">邀请客户</a></li>
			<li class="side_a" onmouseover="v(this.id);" onmouseout="t(this.id);" id="appointment"><a href="appointment.php" class="n">用户预约</a></li>
			{/if}
			{if $MG[homepage] || $show_menu}
			<li class="side_a" onmouseover="v(this.id);" onmouseout="t(this.id);" id="gift"><a href="home.php?gift=true" class="{if $MG[homepage]}n{else}f{/if}">预约有礼</a></li>
			{/if}
		</ul>
	</div>
{/if}
</div>

<div id="sub_1" style="display:{if $_userid}none{else}{/if}">

	<div class="side_head" id="h_1"><div>信息管理</div></div>
	<div class="side_body" id="b_1">
		<ul>

			{if $MG[inbox_limit]>-1 || $show_menu}
			<li class="side_a" onmouseover="v(this.id);" onmouseout="t(this.id);" id="message"><span class="f_r"><a href="message.php?action=send" class="m">发信</a></span><a href="message.php" class="{if $MG[inbox_limit]>-1}n{else}f{/if}">站内信件</a>{if $_message}<em>{$_message}</em>{/if}</li>
			{/if}

			{if $MG[chat] || $show_menu}
			{if $DT[im_web]}
			<li class="side_a" onmouseover="v(this.id);" onmouseout="t(this.id);" id="chats"><span class="f_r"><a href="chat.php?action=add" class="m">查看</a></span><a href="chat.php" class="{if $MG[inbox_limit]>-1}n{else}f{/if}">站内交谈</a>{if $_chat}<em>{$_chat}</em>{/if}</li>
			{/if}
			{/if}



			{loop $MENUMODS $k $v}
			{if $v==9}

			{elseif $v==-9}

			{else}
				<li class="side_a" onmouseover="v(this.id);" onmouseout="t(this.id);"  id="mid_{$v}"><span class="f_r"><a href="{$DT[file_my]}?mid={$v}&action=add" class="m">发布</a></span><a href="{$DT[file_my]}?mid={$v}" class="{if in_array($v, $MYMODS)}n{else}f{/if}">{$MODULE[$v][name]}管理</a></li>
			{/if}
		{/loop}
		</ul>
	</div>

</div>

</td>
<td class="side_h" onclick="oh(this);" title="点击展开/隐藏侧栏" id="side_oh">&nbsp;</td>
	{/if}
<td valign="top" class="main" id="main">
