{template 'header', 'member'}
<script type="text/javascript">c(0);</script>

<form method="post" action="home.php{if $gift}?gift=true{/if}" id="dform">
<input type="hidden" name="tab" id="tab" value="{$tab}"/>
	<input type="hidden" size="5" name="setting[bannerw]" value="960" id="bannerw"/>
	<input type="hidden" size="5" name="setting[bannerh]" value="480" id="bannerh"/>
<div id="Tabs0" {if $gift}style="display:none;"{/if}>
<table cellspacing="1" cellpadding="6" class="tb">

</tr>
<tr style="display:none;">
<td class="tl">横幅显示方式</td>
<td class="tr">
<input name="setting[bannert]" type="radio" id="bannert_2" value="2" checked onclick="Dh('bt_0');Dh('bt_1');Ds('bt_2');"/> <label for="bannert_2">幻灯片</label>&nbsp;&nbsp;
</td>
</tr>

<tbody id="bt_2">
<tr>
<td class="tl f_red">系统提示</td>
<td class="tr f_gray">&nbsp;仅支持jpg格式图片，且最少上传2张; 大小是960*480</td>
</tr>
<tr>
<td class="tl">横幅图片地址1</td>
<td class="tr"><input name="setting[banner1]" type="text" size="60" id="banner1" value="{$banner1}" readonly/>&nbsp;&nbsp;<span onclick="Dthumb({$moduleid},Dd('bannerw').value,Dd('bannerh').value, Dd('banner1').value, true, 'banner1', 'jpg');" class="jt">[上传]</span>&nbsp;&nbsp;<span onclick="_preview(Dd('banner1').value);" class="jt">[预览]</span>&nbsp;&nbsp;<span onclick="Dd('banner1').value='';" class="jt">[删除]</span></td>
</tr>
<tr>
	<td class="tl">横幅图片地址url1</td>
	<td class="tr"><input name="setting[banner1_url]" type="text" size="60" id="banner1_url" value="{$banner1_url}" /></td>
</tr>
<tr>
<td class="tl">横幅图片地址2</td>
<td class="tr"><input name="setting[banner2]" type="text" size="60" id="banner2" value="{$banner2}" readonly/>&nbsp;&nbsp;<span onclick="if(Dd('banner1').value==''){alert('请先上传横幅图片地址1');return false;}Dthumb({$moduleid},Dd('bannerw').value,Dd('bannerh').value, Dd('banner2').value, true, 'banner2');" class="jt">[上传]</span>&nbsp;&nbsp;<span onclick="_preview(Dd('banner2').value);" class="jt">[预览]</span>&nbsp;&nbsp;<span onclick="Dd('banner2').value='';" class="jt">[删除]</span></td>
</tr>
<tr>
	<td class="tl">横幅图片地址url2</td>
	<td class="tr"><input name="setting[banner2_url]" type="text" size="60" id="banner2_url" value="{$banner2_url}" /></td>
</tr>
<tr>
<td class="tl">横幅图片地址3</td>
<td class="tr"><input name="setting[banner3]" type="text" size="60" id="banner3" value="{$banner3}" readonly/>&nbsp;&nbsp;<span onclick="if(Dd('banner2').value==''){alert('请先上传横幅图片地址2');return false;}Dthumb({$moduleid},Dd('bannerw').value,Dd('bannerh').value, Dd('banner3').value, true, 'banner3');" class="jt">[上传]</span>&nbsp;&nbsp;<span onclick="_preview(Dd('banner3').value);" class="jt">[预览]</span>&nbsp;&nbsp;<span onclick="Dd('banner3').value='';" class="jt">[删除]</span></td>
</tr>
<tr>
	<td class="tl">横幅图片地址url3</td>
	<td class="tr"><input name="setting[banner3_url]" type="text" size="60" id="banner3_url" value="{$banner3_url}" /></td>
</tr>
<tr>
<td class="tl">横幅图片地址4</td>
<td class="tr"><input name="setting[banner4]" type="text" size="60" id="banner4" value="{$banner4}" readonly/>&nbsp;&nbsp;<span onclick="if(Dd('banner3').value==''){alert('请先上传横幅图片地址3');return false;}Dthumb({$moduleid},Dd('bannerw').value,Dd('bannerh').value, Dd('banner4').value, true, 'banner4');" class="jt">[上传]</span>&nbsp;&nbsp;<span onclick="_preview(Dd('banner4').value);" class="jt">[预览]</span>&nbsp;&nbsp;<span onclick="Dd('banner4').value='';" class="jt">[删除]</span></td>
</tr>
<tr>
	<td class="tl">横幅图片地址url4</td>
	<td class="tr"><input name="setting[banner4_url]" type="text" size="60" id="banner4_url" value="{$banner4_url}" /></td>
</tr>
<tr>
<td class="tl">横幅图片地址5</td>
<td class="tr"><input name="setting[banner5]" type="text" size="60" id="banner5" value="{$banner5}" readonly/>&nbsp;&nbsp;<span onclick="if(Dd('banner4').value==''){alert('请先上传横幅图片地址4');return false;}Dthumb({$moduleid},Dd('bannerw').value,Dd('bannerh').value, Dd('banner5').value, true, 'banner5');" class="jt">[上传]</span>&nbsp;&nbsp;<span onclick="_preview(Dd('banner5').value);" class="jt">[预览]</span>&nbsp;&nbsp;<span onclick="Dd('banner5').value='';" class="jt">[删除]</span></td>
</tr>
<tr>
	<td class="tl">横幅图片地址url5</td>
	<td class="tr"><input name="setting[banner5_url]" type="text" size="60" id="banner5_url" value="{$banner5_url}" /></td>
</tr>
</tbody>
<tr>
<td class="tl">形象视频地址</td>
<td class="tr"><input name="setting[video]" type="text" size="60" id="video" value="{$video}" onblur="UpdateURL();"/>&nbsp;&nbsp;<span onclick="Dfile({$moduleid}, Dd('video').value, 'video', 'mp4|flv|wma|wav');" class="jt">[上传]</span>&nbsp;&nbsp;<span onclick="vs();" class="jt">[预览]</span>&nbsp;&nbsp;<span onclick="Dd('video').value='';" class="jt">[删除]</span>
<div id="v_player"></div>
{load('player.js')}
{load('url2video.js')}
<script type="text/javascript">
function vs() {
	UpdateURL();
	if(Dd('video').value.length > 5) {
		Ds('v_player');
		Inner('v_player', player(Dd('video').value,480,400,'',1)+'<br/><a href="javascript:" onclick="vh();" class="t">[关闭预览]</a>');
	} else {
		vh();
	}
}
function vh() {Inner('v_player', '');Dh('v_player');}
function UpdateURL() {
	var str = url2video(Dd('video').value);
	if(str) Dd('video').value = str;
}
</script>
</td>
</tr>

</table>
</div>

	<div id="tabs1" {if !$gift}style="display:none;"{/if}>
		<table>
			<tr>
				<td class="tl">消费返点</td>
				<td class="tr f_gray"><input name="setting[return_cash]" type="text" size="6" id="return_cash" value="{$return_cash}" />返点 百分比</td>
			</tr>
			<tr>
				<td class="tl">消费有礼</td>
				<td class="tr f_gray"><input name="setting[consume_gift]" type="text" size="60" id="consume_gift" value="{$consume_gift}" />消费送礼，文本内容</td>
			</tr>
			<tr>
				<td class="tl">预约有礼</td>
				<td class="tr f_gray"><textarea name="setting[announce]" id="announce" style="width:500px;height:60px;">{$announce}</textarea><br/>内容不能超过20个字</td>
			</tr>
			</table>
		</div>

<table cellspacing="1" cellpadding="6" class="tb">
<tr>
<td class="tl">&nbsp;</td>
<td class="tr" height="30"><input type="submit" name="submit" value=" 保 存 " class="btn"/><!--&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" name="submit" value=" 恢复默认 " class="btn" onclick="if(confirm('确定要恢复默认设置吗？商铺所有设置将被清空')){this.form.action='home.php?reset=1';}else{return false;}"/></td>-->
</tr>
</table>
</form>
{load('clear.js')}
<script type="text/javascript">
	{if $gift}s('gift');{else}s('homepage');{/if}
{if $tab}
Tab({$tab});
{else}
m('Tab0');
{/if}
</script>
{template 'footer', 'member'}