{template 'header'}


<script type="text/javascript">var module_id={$moduleid},item_id={$itemid},content_id='content',img_max_width=550;</script>
<link rel="stylesheet" type="text/css" href="{DT_SKIN}wed_art.css" media="screen" />
<div class="wrap pic_img">

</div>
<div class="wrap wrap_b">
    <div class="wed_art_left">
        <h1>{$title}</h1>
        <div class="wed_art_add">
            <h2>{if $author}{$author}{/if} {if $copyfrom}源自：{$copyfrom}{/if} 标签：{$tag}</h2>
            <span><a href="{$MOD[linkurl]}">{$MOD[name]}</a> &raquo; {cat_pos($CAT, ' &raquo; ')}</span>
        </div>
        <div class="content" id="article">
            {template 'content', 'chip'}
        </div>
        {if $pages}<div class="pages">{$pages}</div>{/if}
        <div class="wed_next">

            上一篇：<!--{tag("moduleid=$moduleid&condition=status=3 and addtime<$addtime&pagesize=1&order=addtime desc&template=list-np", -1)}-->
            <br/>下一篇：<!--{tag("moduleid=$moduleid&condition=status=3 and addtime>$addtime&pagesize=1&order=addtime asc&template=list-np", -1)}-->
            <b><!-- Baidu Button BEGIN -->
                <div id="bdshare" class="bdshare_t bds_tools_32 get-co des-bdshare">
                    <a class="bds_tsina"></a>
                    <a class="bds_qzone"></a>
                    <a class="bds_tqq"></a>
                    <a class="bds_renren"></a>
                    <a class="bds_bdhome"></a>
                    <span class="bds_more"></span>
                </div>
                <script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=2   502690" ></script>
                <script type="text/javascript" id="bdshell_js"></script>
                <script type="text/javascript">
                    document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000)
                </script>
                <!-- Baidu Button END --></b>
        </div>

        <dl class="otherNews"><dt>相关阅读</dt>

            {php $_tags_news_related=tag("moduleid=$moduleid&length=44&catid=$catid&condition=status=3&pagesize=".$MOD[page_srelate]."&order=".$MOD[order]."&cols=2&template=null", -2)}
            {loop $_tags_news_related $k $t}
            <dd><a href="{$t[linkurl]}" title="{$t[title]}">{$t[title]}</a></dd>

            {/loop}

            <div class="clearfix"></div>
        </dl>

        <!-- <p class="hot"><a href="/special/show.php?itemid=3" target="_blank" title="疯狂婚礼游戏"><img alt="疯狂婚礼游戏" src="/skin/default/ai_img/del6.jpg"></a><a href="/news/search.php?kw=婚礼策划" target="_blank" title="婚礼策划"><img alt="婚礼策划" src="/skin/default/ai_img/del4.jpg"></a></p>
        -->
        <p class="hot1">
            {php $_tags=tag("moduleid=12&table=photo&condition=level=1&pagesize=4&template=null&order=addtime desc")}
            <!--推荐-->
            {loop $_tags $k $t} {if $k<4}
        <a title="{$t[title]}" target="_blank" href="{$t[linkurl]}"><img src="{imgurl($t[thumb], 0)}" class="lazy" original="{imgurl($t[thumb], 1)}" alt="{$t[title]}" /><br>{$t[title]}</a>
        {/if}
            {/loop}
        </p>

        <dl class="otherNews"><dt style="padding-top:15px;">点击排行</dt>

            {php $_tags_news_related=tag("moduleid=$moduleid&length=44&catid=$catid&condition=status=3&pagesize=".$MOD[page_srelate]."&order=hits desc&cols=2&template=null")}
            {loop $_tags_news_related $k $t}
            <dd><a href="{$t[linkurl]}" title="{$t[title]}">{$t[title]}</a></dd>

            {/loop}

        </dl>
    </div>
    <div class="wed_art_right">
        <div class="wed_google">

        </div>
        <div class="wed_google"></div>
        <dl class="wed_4a">
            <dt><a href="/news/list.php?catid=38" target="_blank" title="菏泽婚纱摄影">婚纱摄影</a></dt>
            <dd></dd>

            {php $_tags=tag("moduleid=21&table=article_21&pagesize=5&catid=38&order=addtime desc&template=null")}
            {loop $_tags $k $t}
            {if $k>-1}
            {php $k++}
            <dd><a target="_blank" href="{$t[linkurl]}" title="{$t[title]}">{$t[title]}</a></dd>
            {/if}
            {/loop}


            <dt class="a"><a href="/news/list.php?catid=75" target="_blank" title="菏泽婚礼策划">婚礼策划</a></dt>
            <dd></dd>

            {php $_tags=tag("moduleid=21&table=article_21&pagesize=5&catid=75&order=addtime desc&template=null")}
            {loop $_tags $k $t}
            {if $k>-1}
            {php $k++}
            <dd><a target="_blank" href="{$t[linkurl]}" title="{$t[title]}">{$t[title]}</a></dd>
            {/if}
            {/loop}
            <dt class="b"><a href="/news/list.php?catid=44" target="_blank" title="菏泽美容跟妆">美容跟妆</a></dt>
            <dd></dd>

            {php $_tags=tag("moduleid=21&table=article_21&pagesize=5&catid=44&order=addtime desc&template=null")}
            {loop $_tags $k $t}
            {if $k>-1}
            {php $k++}
            <dd><a target="_blank" href="{$t[linkurl]}" title="{$t[title]}">{$t[title]}</a></dd>
            {/if}
            {/loop}
            <dt class="c"><a href="/news/list.php?catid=45" target="_blank" title="菏泽蜜月旅行">蜜月旅行</a></dt>
            <dd></dd>

            {php $_tags=tag("moduleid=21&table=article_21&pagesize=5&catid=45&order=addtime desc&template=null")}
            {loop $_tags $k $t}
            {if $k>-1}
            {php $k++}
            <dd><a target="_blank" href="{$t[linkurl]}" title="{$t[title]}">{$t[title]}</a></dd>
            {/if}
            {/loop}
        </dl>
    </div>
    <div class="clearfix"></div>
</div>
<script type="text/javascript" src="{DT_PATH}file/script/content.js"></script>


{template 'footer'}